.wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 24px;
	border-radius: 8px;
	border: 1px solid var(--jh-gray-05);
	padding: 12px;
	cursor: pointer;
	.image {
		width: 96px;
		height: 96px;
		border-radius: 8px;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var(--jh-gray-13);
	}
	.content {
		display: flex;
		flex-direction: column;
		padding: 20px 0;
		flex: 1;
		.title {
			overflow: hidden;
			color: var(--black);
			text-overflow: ellipsis;
			font-size: 16px;
			font-style: normal;
			font-weight: 500;
			line-height: 14.93px;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
			line-clamp: 2;
			flex: 1 0 0;
		}
		.description {
			overflow: hidden;
			color: var(--black);
			text-overflow: ellipsis;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			display: -webkit-box;
			transform: rotate(0.003deg);
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
			line-clamp: 2;
			flex: 1 0 0;
		}
	}
	.next {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}
