.badge {
  background-color: var(--jh-green-01);
  color: var(--white);
  font-weight: 600;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  :global(.group:hover) & {
    &.badge {
      background-color: var(--jh-light-green-01);
      color: var(--jh-green-01);
    }
  }
}

.iconBadge {
	border-radius: 28px;
	background: var(--jh-gray-02);
	display: flex;
	align-items: center;
	justify-content: center;
}
