@use '@/styles/mixins' as *;

.container {
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 1em 0;
	height: 100%;
	width: 100%;

	.backButton {
		position: absolute;
		top: 1em;
		left: 0;
		background-color: var(--white);
		color: var(--jh-green-01);
		border: 1px solid var(--jh-gray-08);

		.iconBack {
			@include icon('/icons/chevron-left.svg', 16px);
		}

		&:hover {
			background-color: rgba(var(--white-rgb), 0.8);
		}
	}

	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1em;
		height: 100%;

		.description {
			color: var(--jh-gray-01);
			font-size: 0.88rem;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
		}
	}
}
