.wrapper {
	background: var(--white);
	&Inner {
		display: flex;
		justify-content: space-between;
		width: 100%;
		align-items: center;
		&Left {
			display: flex;
			align-items: center;
		}
		&Mid {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0 96px;
			&NavigationGroup {
				display: flex;
				align-items: center;
				gap: 12px;
				.navItem {
					display: flex;
					align-items: center;
					cursor: pointer;
					&:hover {
						.navItemWrapper {
							background: var(--jh-gray-13);
							border-radius: 12px;
						}
					}
				}
				.navItemActive {
					display: flex;
					align-items: center;
					cursor: pointer;
					border-bottom: 3px solid var(--jh-green-01);
					&:hover {
						.navItemWrapper {
							background: var(--jh-gray-13);
							border-radius: 12px;
						}
					}
				}
				.navItemWrapper {
					padding: 24px 40px;
					transition: all 0.2s ease;
					.leftNavigationButton {
						flex-shrink: 0;
						color: var(--white);
						font-size: 14px;
						font-weight: 500;
						line-height: 1;
						gap: 5px;
					}
				}
			}
		}
		&Right {
			display: inline-flex;
			align-items: center;
			gap: 14px;
			overflow: visible;
			&Navigation {
				display: inline-flex;
				align-items: center;
				gap: 16px;
				overflow: visible;
				&Group {
					display: flex;
					align-items: center;
					gap: 16px;
					position: relative;
					overflow: visible;
					> div {
						display: flex;
						width: 44px;
						height: 44px;
						align-items: center;
						justify-content: center;
						border-radius: 200px;
						background: var(--jh-light-green-05);
						cursor: pointer;
						&.notifWrapper {
							position: relative;
							overflow: visible;
							cursor: pointer;
						}
						.rightNavigationButton {
							background-color: transparent;
							padding: 0;
						}
						&:hover,
						&:active {
							background-color: var(--jh-light-green-05);
						}
					}
				}
			}
		}
	}
	.extraClass {
		border: 2px solid var(--jh-green-04) !important;
		color: var(--jh-green-04) !important;
	}
}
