.loginForm {
	.heading {
		margin: 24px 0 32px;
		text-align: center;

		&Title {
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;

			button {
				position: absolute;
				left: 0;
				z-index: 10;
			}
		}
	}
  .formGroup {
		display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 4px 12px;
    margin: 32px 0;
		min-width: 400px;

    h4 {
      margin: 32px 0;
      text-align: center;
    }

    .links {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;
    }
  }
}
