@use '@/styles/mixins' as *;

.inputContainer {
	// white background
	background-color: var(--white);

	padding: 0.63em 1.25em;
	border-radius: 0.5em;
	margin-top: 0.31em;
	margin-bottom: 0.63em;
	width: 100%;
	box-sizing: border-box;
	flex: 0 0 auto;

	display: flex;
	align-items: center;
	gap: 0.63em;
	justify-content: space-between;

	.attachmentsContainer {
		display: flex;
		align-items: center;
		justify-content: center;

		.emojiButton {
			@include icon('/icons/emoji.svg', 18px);
		}

		.imageButton {
			@include icon('/icons/image.svg', 18px);
		}

		.gifButton {
			@include icon('/icons/gif.svg', 20px);
		}
	}

	.verticalSeparator {
		width: 1px;
		height: 20px;
		background-color: var(--jh-gray-05);
	}

	.input {
		border: none;
		box-shadow: none;
		flex-grow: 1;
	}

	.iconSendContainer {
		border-radius: 999px;
		flex-shrink: 0;
		border: none;
		padding: 6px;
		cursor: pointer;
		background-color: var(--jh-green-01);
		display: flex;
		align-items: center;
		justify-content: center;

		.iconSend {
			color: var(--white);
			@include icon('/icons/send.svg', 20px);
			transform: rotate(-45deg) translateX(2px);
		}
	}
}
