@use '@/styles/mixins' as *;

.wrapper {
	display: flex;
	flex-direction: column;
	padding: 2em 0;
	width: 100%;

	.container {
		display: flex;
		flex-direction: column;
		gap: 2em;
		height: 100%;
		width: 100%;

		.backButton {
			background-color: var(--white);
			color: var(--jh-green-01);
			border: 1px solid var(--jh-gray-08);

			&:hover {
				background-color: rgba(var(--white-rgb), 0.8);
			}

			.iconBack {
				@include icon('/icons/chevron-left.svg', 16px);
			}
		}

		.content {
			display: flex;
			flex-direction: column;
			gap: 4em;
			width: 100%;

			.threadInfo {
				display: flex;
				flex-direction: column;
				gap: 2em;
				width: 100%;

				> h2 {
					font-size: 2.5rem;
					font-weight: 900;
					word-break: break-word;
				}

				.skeleton {
					min-height: 10rem;
				}

				.threadContent {
					display: flex;
					padding: 1.38em;
					font-size: 1rem;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
					background-color: var(--white);
					border-radius: 0.38rem;
					box-shadow: 0 1px 2px 0 rgba(var(--shadow-dark-rgb), 0.05);
				}

				.repliesHeader {
					display: flex;
					justify-content: space-between;
					align-items: center;
				}

				.repliesLabel {
					font-size: 0.88rem;
					font-style: normal;
					font-weight: 700;
					line-height: 1.25rem;
				}

				.repliesContainer {
					display: flex;
					flex-direction: column;
					gap: 1em;
				}
			}
		}
	}
}
