@use '@/styles/mixins' as *;

.wrapper {
	background-color: var(--jh-green-03);

	@include breakpoint(large, max) {
		padding: 0 4em;
	}
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 4.13rem;
	padding: 1rem;
	gap: 2em;
	max-width: 1440px;
	margin: 0 auto;

	// Nested button styles for higher specificity
	.homeButton {
		background-color: rgba(var(--white-rgb), 0.1);

		&:hover {
			background-color: rgba(var(--white-rgb), 0.05);
		}
	}

	.postButton {
		background-color: var(--jh-green-01);
		color: var(--jh-white-01);
		font-size: 0.88rem;
		min-width: 9.38rem;

		&[data-hidden='true'] {
			display: none;
		}

		&:hover {
			background-color: rgba(var(--jh-green-01-rgb), 0.8);
		}
	}

	.usersButton {
		background-color: transparent;

		&:hover {
			background-color: rgba(var(--white-rgb), 0.05);
		}
	}

	.chatsButton {
		background-color: transparent;

		&:hover {
			background-color: rgba(var(--white-rgb), 0.05);
		}
	}

	.notificationsButton {
		background-color: transparent;

		&:hover {
			background-color: rgba(var(--white-rgb), 0.05);
		}
	}

	.avatarButton {
		background-color: var(--jh-green-01);
		padding: 1.25em;

		&:hover {
			background-color: rgba(var(--jh-green-01-rgb), 0.8);
		}
	}
}

.title {
	display: flex;
	align-items: center;
	gap: 1em;
}

.actions {
	display: flex;
	align-items: center;
	gap: 0.5em;
}

.iconHome {
	@include icon('/icons/home.svg', 16px);
}

.iconPencil {
	@include icon('/icons/pencil.svg', 16px);
}

.iconUsers {
	@include icon('/icons/users-filled.svg', 16px);
}

.iconChats {
	@include icon('/icons/chats.svg', 16px);
}

.iconNotifications {
	@include icon('/icons/notification-bell.svg', 16px);
}

.avatar {
	border: 3px solid var(--jh-green-03);
}
