@use '@/styles/mixins' as *;

.aside {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 1em;
	gap: 2em;
	height: 100%;
	width: 100%;
	overflow-y: auto;
	scrollbar-width: none;
	--webkit-scrollbar {
		display: none;
	}
}
