@use '@/styles/mixins' as *;

.pillContainer {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	padding: 1rem;
	background-color: var(--white);
	min-height: 3rem;
	@include transition;

	&:focus-within {
		border-color: var(--jh-green-01);
		box-shadow: 0 0 0 3px rgba(var(--jh-green-01-rgb), 0.1);
		border-radius: 0.75rem;
	}
}

.placeholder {
	color: var(--jh-gray-01);
	font-size: 0.88rem;
	align-self: flex-start;
}

.pillGrid {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	align-items: center;
}

.pill {
	cursor: pointer;
	user-select: none;
	display: flex;
	align-items: center;
	height: 2.25rem;
	padding: 0 1.13rem;
	gap: 0.75rem;
	position: relative;
	border-color: var(--jh-green-01);
	color: var(--jh-green-01);
	@include transition;

	&:hover:not(.disabled) {
		background-color: var(--jh-green-01);
		color: var(--white);
	}

	&:focus:not(.disabled) {
		outline: 2px solid var(--jh-green-01);
		outline-offset: 2px;
		border-radius: 0.75rem;
	}

	&[data-selected='true'] {
		background-color: var(--jh-green-01);
		color: var(--white);
	}

	&.selected {
		background-color: var(--jh-green-01);
		color: var(--white);
		border-color: var(--jh-green-01);
		border-radius: 0.75rem;
	}

	&.disabled {
		opacity: 0.5;
		cursor: not-allowed;
		pointer-events: none;

		&:hover {
			background-color: initial;
			color: initial;
			transform: none;
			box-shadow: none;
		}

		&:focus {
			outline: none;
			border-radius: 0.75rem;
		}
	}

	// Nested pill-related elements
	.pillLabel {
		font-size: 0.88rem;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}

	.iconRemove {
		@include transition;
		@include icon('/icons/close.svg', 14px);
	}
}

.counter {
	font-size: 0.75rem;
	color: var(--jh-gray-01);
	align-self: flex-end;
	margin-top: 0.25rem;
}

.required {
	color: var(--jh-red-01);
}

.formLabel {
	font-size: 1rem;
	font-style: normal;
	font-weight: 700;
}
