.avatar {
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  transition: z-index 0.2s ease;
  flex-shrink: 0;

  &:hover {
    z-index: 100;
  }
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
