@use '@/styles/mixins' as *;

.wrapper {
	background-color: var(--white);
	border-radius: 0.75rem;
	padding: 1.13em;
}

.card {
	display: flex;
	flex-direction: column;
	gap: 0.81em;

	.bio {
		font-size: 1rem;
		font-weight: 500;
		line-height: 1;
	}

	.address,
	.gender,
	.website,
	.birthday,
	.interests {
		display: flex;
		flex-direction: row;
		gap: 0.88em;
	}

	.address,
	.interests {
		align-items: flex-start;
	}

	.label,
	.data {
		font-size: 1rem;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		display: flex;
		align-items: center;
		gap: 0.88em;
	}

	.address .data {
		display: flex;
		flex-direction: column;
		gap: 1ch;
	}

	.iconAddress {
		@include icon('/icons/world.svg', 16px);
	}

	.iconGender {
		@include icon('/icons/magnifying-glass.svg', 16px);
	}

	.iconWebsite {
		@include icon('/icons/world.svg', 16px);
	}

	.iconBirthday {
		@include icon('/icons/events.svg', 16px);
	}

	.label {
		display: flex;
		align-items: center;
		gap: 0.88em;
		color: var(--jh-gray-02);
	}

	.data {
		color: var(--black);
	}

	.iconInterests {
		@include icon('/icons/focus.svg', 16px);
	}

	.website .data,
	.interests .interest {
		display: -webkit-box;
		-webkit-line-clamp: 1;
		line-clamp: 1;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.website .data {
		&:hover {
			color: var(--jh-blue-01);
			text-decoration: underline;
		}

		> abbr {
			text-decoration: none;
		}
	}

	.interests .data {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 1ch;
	}
}
