@use '@/styles/mixins' as *;

.wrapper {
	display: flex;
	flex-direction: column;
	position: relative;
	gap: 1em;
}

.cover {
	position: relative;
	width: 100%;
	height: 22.5rem;
	overflow: hidden;
	border-radius: 0 0 0.63em 0.63em;

	.coverPhoto {
		object-fit: cover;
	}

	.edit {
		position: absolute;
		top: 1.5rem;
		right: 1.5rem;
		flex-shrink: 0;

		.iconEdit {
			color: var(--jh-green-01);
			@include icon('/icons/pencil.svg');
		}
	}
}

.info {
	display: flex;
	align-items: center;
	gap: 2em;
	margin: 0 1.88em 0 2.19em;
}

.profile {
	position: relative;
	width: 10rem;
	height: 10rem;
	border-radius: 9999px;
	margin-top: -3.75em;
	overflow: hidden;
	border: 4px solid white;
	flex-shrink: 0;

	@include breakpoint(medium, min) {
		width: 12rem;
		height: 12rem;
	}

	@include breakpoint(large, min) {
		width: 14rem;
		height: 14rem;
	}
}

.profilePhoto {
	object-fit: cover;
}
