.sharePost {
	display: flex;
	align-items: center;
	gap: 16px;
	padding: 24px 0;
	&Input {
		width: 100%;
		border-radius: 62px;
		color: var(--jh-black-01);
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		background-color: var(--white);
		padding: 8px 16px;
		&::placeholder {
			color: var(--jh-gray-01);
			font-size: 12px;
			font-style: normal;
			font-weight: 500;
			line-height: 17.589px;
		}
	}
}
