.dropdown {
	position: relative;
}

.trigger {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 16px;
	padding: 8px 16px;
	border-radius: 16px;
	background: var(--white);
	color: var(--black);
	font-size: 14px;
	font-weight: 400;
	line-height: 16.8px;
	cursor: pointer;
}

.chevron {
	width: 12px;
	height: 12px;
	display: inline-block;
	background-color: var(--black);
	-webkit-mask: url('/icons/arrow-down.svg') no-repeat center / contain;
	mask: url('/icons/arrow-down.svg') no-repeat center / contain;
	transition:
		transform 0.2s ease,
		background-color 0.2s ease;
}

.whiteChevron {
	width: 12px;
	height: 12px;
	display: inline-block;
	background-color: var(--white);
	-webkit-mask: url('/icons/white-arrow-down.svg') no-repeat center / contain;
	mask: url('/icons/white-arrow-down.svg') no-repeat center / contain;
	transition:
		transform 0.2s ease,
		background-color 0.2s ease;
}

.trigger[data-open='true'] .chevron {
	transform: scaleY(-1);
}

.menu {
	position: absolute;
	top: calc(100% + 5px);
	right: 0;
	z-index: 10;
	padding: 6px;
	background: var(--white);
	border: 1px solid var(--jh-gray-05);
	background: var(--white);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	.item {
		display: flex;
		align-items: flex-start;
		padding: 8px 10px;
		border-radius: 6px;
		cursor: pointer;
		color: var(--black);
		background: var(--white);
		width: 100%;
		&:hover {
			border-radius: 3px;
			background: var(--jh-green-01);
			color: var(--white);
		}
		&:active {
			background: var(--jh-green-01);
			color: var(--white);
		}
		&.selected {
			border-radius: 3px;
			background: var(--jh-green-01);
			color: var(--white);
		}
		&Row {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			gap: 8px;
			font-size: 14px;
			font-weight: 500;
			line-height: 16.8px;
		}

		&Left {
			display: flex;
			align-items: flex-start;
			gap: 8px;
			span {
				white-space: nowrap;
			}
		}
	}
	.label {
		font-size: 12px;
		color: var(--jh-gray-01);
	}
	.check {
		filter: brightness(0) invert(1);
	}

	.divider {
		height: 1px;
		background: var(--jh-gray-05);
		margin: 6px 0;
	}

	&.open {
		display: block;
	}

	&.hidden {
		display: none;
	}
}
