@use '@/styles/mixins' as *;

.skeleton {
	height: 5rem;
}

.commentEditor {
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding: 1.38em;
	border-radius: 0.75em;
	background: var(--white);
	border: 1px solid var(--jh-gray-08);
	width: 100%;

	.toolbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 0.5em;
		border-top: 1px solid var(--jh-gray-08);
		padding-top: 0.5em;
	}

	.sendIcon {
		color: var(--jh-green-04);
		@include icon('/icons/send.svg');
	}

	.editor {
		position: relative;
		max-width: 100%;
		white-space: pre-wrap;
		overflow-y: auto;
		z-index: 10;

		:global(p.is-editor-empty:first-child)::before {
			content: attr(data-placeholder);
			position: absolute;
			inset: 0 auto auto 0;
			color: var(--jh-gray-01);
			white-space: pre-wrap;
			pointer-events: none;
			opacity: 0.9;
		}

		// Remove focus ring
		&:focus,
		&:focus-visible,
		&:focus-within {
			outline: none;
			box-shadow: none;
		}

		:first-child {
			margin-top: 0;
		}

		a {
			color: var(--jh-blue-01);
			text-decoration: underline;
			word-break: break-word;
		}

		code {
			background-color: var(--jh-gray-05);
			border-radius: 0.4rem;
			color: var(--black);
			font-size: 0.85rem;
			padding: 0.25em 0.3em;
		}

		img {
			display: block;
			height: auto;
			margin: 1.5rem 0;
			max-width: 100%;

			&.ProseMirror-selectednode {
				outline: 3px solid var(--jh-gray-05);
			}
		}
	}
}
