@use '@/styles/mixins.scss' as *;

.noCategories {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.noCategories p {
	color: var(--jh-gray-01);
	font-size: 0.88rem;
	font-style: normal;
	font-weight: 500;
	line-height: 1.25rem;
}

.carouselWrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;

	.carouselLeftButton {
		position: absolute;
		left: 0;
		padding-left: 0;
		padding-right: 1.5em;
		background: linear-gradient(to right, var(--jh-white-01), var(--jh-white-01) 70%, transparent);
		color: var(--jh-gray-01);
		z-index: 10;

		&:focus-visible {
			outline: 1px solid var(--jh-gray-01);
			outline-offset: 2px;
		}

		.iconChevronLeft {
			@include icon('/icons/chevron-left.svg', 20px);
		}
	}

	.carousel {
		display: grid;
		align-items: center;
		grid-auto-flow: column;
		position: relative;
		gap: 1.63em;
		margin: 0 1.5em;
		overflow-x: auto;
		overscroll-behavior-x: contain;
		scroll-snap-type: x mandatory;
		cursor: grab;
		user-select: none;
		/* Firefox */
		scrollbar-width: none;
		/* IE/old Edge */
		-ms-overflow-style: none;
		/* Hide webkit scrollbar */
		&::-webkit-scrollbar {
			display: none;
		}

		&.dragging {
			cursor: grabbing;
			scroll-behavior: auto;
		}

		.skeletonGroup {
			display: flex;
			gap: 1.63em;
		}

		.skeleton {
			width: 5rem;
			height: 1rem;
		}

		.carouselItem {
			font-size: 0.88rem;
			font-weight: 500;
			padding: 0.5em 0;
			scroll-snap-align: center;
			flex-shrink: 0;
			white-space: nowrap;
			cursor: pointer;
			transition: all 0.3s ease;
			position: relative;

			&::before {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				height: 2px;
				background-color: var(--jh-green-01);
				opacity: 0;
				transition: opacity 0.3s ease;
			}

			&::after {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				height: 2px;
				background-color: var(--jh-green-01);
				opacity: 0;
				transition: opacity 0.3s ease;
			}

			&:hover {
				&::before {
					opacity: 1;
				}
			}
		}

		.active {
			font-size: 0.88rem;
			font-weight: 700;
			padding: 0.5em 0;
			scroll-snap-align: center;
			flex-shrink: 0;
			white-space: nowrap;
			cursor: pointer;
			position: relative;

			&::after {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				height: 2px;
				background-color: var(--jh-green-01);
				opacity: 1;
				transition: opacity 0.3s ease;
			}
		}
	}

	.carouselRightButton {
		position: absolute;
		right: 0;
		padding-right: 0;
		padding-left: 1.5em;
		background: linear-gradient(to left, var(--jh-white-01), var(--jh-white-01) 70%, transparent);
		color: var(--jh-gray-01);
		z-index: 10;

		&:focus-visible {
			outline: 1px solid var(--jh-gray-01);
			outline-offset: 2px;
		}

		.iconChevronRight {
			@include icon('/icons/chevron-right.svg', 20px);
		}
	}
}
