@use '@/styles/mixins' as *;

.carouselWrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;

	.carouselLeftButton,
	.carouselRightButton {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 2.13rem;
		height: 2.13rem;
		flex-shrink: 0;
		border-radius: 9999px;
		z-index: 10;

		&:hover {
			background-color: rgba(var(--white-rgb), 0.9);
		}

		&:focus-visible {
			outline: 1px solid var(--jh-gray-01);
			outline-offset: 2px;
		}
	}

	.carouselLeftButton {
		left: 1em;

		.iconChevronLeft {
			color: var(--jh-green-04);
			@include icon('/icons/chevron-left.svg', 20px);
		}
	}

	.noThreads {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		min-height: 17.5rem;
		border-radius: 0.25rem;
	}

	.noThreads p {
		color: var(--jh-gray-01);
		font-size: 0.88rem;
		font-style: normal;
		font-weight: 500;
		line-height: 1.25rem;
	}

	.carousel {
		display: grid;
		align-items: center;
		grid-auto-flow: column;
		position: relative;
		gap: 0.75em;
		overflow-x: auto;
		overscroll-behavior-x: contain;
		scroll-snap-type: x mandatory;
		scroll-behavior: smooth;
		cursor: grab;
		user-select: none;
		/* Firefox */
		scrollbar-width: none;
		/* IE/old Edge */
		-ms-overflow-style: none;
		/* Hide webkit scrollbar */
		&::-webkit-scrollbar {
			display: none;
		}

		&.dragging {
			cursor: grabbing;
			scroll-behavior: auto;
		}

		.skeletonGroup {
			display: flex;
			gap: 0.75em;

			.skeleton {
				min-width: 14.75rem;
				min-height: 17.5rem;
				border-radius: 0.25rem;
			}
		}

		.carouselItem {
			font-size: 0.88rem;
			font-weight: 500;
			scroll-snap-align: center;
			flex-shrink: 0;
			white-space: nowrap;
			cursor: pointer;
			transition: all 0.3s ease;

			&::before {
				content: '';
				position: absolute;
				left: anchor(left);
				right: anchor(right);
				bottom: anchor(bottom);
				height: 2px;
				background-color: var(--jh-green-01);
				position-anchor: --hovered-item;
			}

			&::after {
				content: '';
				position: absolute;
				left: anchor(left);
				right: anchor(right);
				bottom: anchor(bottom);
				height: 2px;
				background-color: var(--jh-green-01);
				position-anchor: --active-item;
			}

			&:hover {
				anchor-name: --hovered-item;
			}
		}
	}

	.carouselRightButton {
		right: 1em;

		.iconChevronRight {
			color: var(--jh-green-04);
			@include icon('/icons/chevron-right.svg', 20px);
		}
	}
}
