.wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.content {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		width: 100%;

		.contentLeft {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			gap: 24px;
			span {
				color: var(--black);
				font-size: 24px;
				font-weight: 700;
				line-height: 30px;
				display: flex;
				align-items: flex-start;
				justify-content: flex-start;
				width: 100%;
			}
			.contentLeftButtons {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: flex-start;
				gap: 8px;
				.extraClass {
					border: none;
					background-color: var(--white);
					color: var(--black);
					&:hover {
						border: var(--black) 1px solid;
						background-color: var(--jh-green-05);
					}
					&.active {
						border: var(--jh-green-01) 1px solid;
						color: var(--jh-green-01);
					}
				}
			}
		}
		.contentRight {
			display: flex;
			flex-direction: column;
			height: 100%;
			&.bottom {
				align-items: flex-end;
				justify-content: flex-end;
			}
			&.center {
				align-items: center;
				justify-content: center;
			}
			.sortContainer {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 16px;
				.sort {
					background: var(--white);
					color: var(--black);
					font-size: 10px;
					font-weight: 500;
					line-height: 11.868px;
				}
			}
			.createAdButton {
				color: var(--white);
				font-size: 13.961px;
				font-style: normal;
				font-weight: 700;
				line-height: 13.961px;

				padding: 14px 28px;
				background: var(--jh-green-04);
			}
		}
	}
}
