.wrapper {
	display: flex;
	flex-direction: row;
	gap: 32px;
	justify-content: space-between;
	padding: 41px 0;
	&Left {
		display: flex;
		flex-direction: column;
		gap: 24px;
		padding-right: 16px;
		border-right: 1px solid var(--jh-gray-05);
	}
	&Right {
		width: 100%;
		height: 100vh;
		overflow-y: auto;
		scrollbar-width: none; /* Firefox */
		-ms-overflow-style: none; /* Internet Explorer 10+ */

		&::-webkit-scrollbar {
			display: none; /* WebKit */
		}
	}
}
