.yourShortcuts {
	display: flex;
	flex-direction: column;
	gap: 16px;
	&Header {
		h1 {
			color: var(--black);
			font-size: 16px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
		}
	}
	&List {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}
	&Item {
		display: flex;
		align-items: center;
		gap: 16px;
	}
	&ItemIcon { 
		&Avatar {
			width: 40px;
			height: 40px;
			border-radius: 12px;
		}
	}
	&ItemLabel {
		h3 {
			color: var(--black);
			font-size: 14px;
			font-style: normal;
			font-weight: 700;
			line-height: 14.93px;
		}
	}
}
