.wrapper {
	display: flex;
	align-items: center;
	gap: 1.31em;

	.avatarSkeleton {
		width: 2.5rem;
		height: 2.5rem;
		border-radius: 9999px;
	}

	.content {
		display: flex;
		flex-direction: column;
		gap: 0.25em;

		.author {
			display: flex;
			align-items: center;
			gap: 0.5ch;
			line-height: normal;

			.authorSkeleton {
				width: 5rem;
				height: 1rem;
				border-radius: 0.25rem;
			}

			.name {
				font-size: 1rem;
				font-weight: 700;
			}

			.role {
				font-size: 1rem;
				font-weight: 400;
				font-style: italic;
			}
		}

		.data {
			display: flex;
			align-items: center;
			gap: 0.5ch;
			font-size: 1rem;
			font-weight: 400;
			line-height: normal;

			.dataSkeleton {
				width: 5rem;
				height: 1rem;
				border-radius: 0.25rem;

				&:first-child {
					width: 10rem;
				}
			}
		}
	}
}
