.wrapper {
	display: flex;
	align-items: center;
	gap: 1.31em;
}

.threadInfo {
	display: flex;
	flex-direction: column;
	gap: 0.25em;
}

.authorInfo {
	display: flex;
	align-items: center;
	gap: 0.5ch;
	line-height: normal;
}

.authorName {
	font-size: 1rem;
	font-weight: 700;
}

.authorRole {
	font-size: 1rem;
	font-weight: 400;
	font-style: italic;
}

.threadData {
	display: flex;
	align-items: center;
	gap: 0.5ch;
	font-size: 1rem;
	font-weight: 400;
	line-height: normal;
}
