@use '@/styles/mixins' as *;

.card {
	--border-radius: 0.75em;
	display: flex;
	gap: 0.75em;
	width: 100%;
	background-color: var(--white);
	border-radius: var(--border-radius);
	box-shadow: 0 1px 3px 0 rgba(var(--black-rgb), 0.12);
	position: relative;
	flex-shrink: 0;
	cursor: pointer;

	&[data-variant='vertical'] {
		max-width: 24rem;
		min-height: 24rem;
		flex-direction: column;
		gap: 0.5em;
		padding: 0.65em;
	}

	&[data-variant='horizontal'] {
		flex-direction: row;

		@include breakpoint(large, max) {
			flex-direction: column;
			max-width: 100%;
			min-height: 24rem;
			flex-direction: column;
			gap: 0.5em;
			padding: 0.65em;
		}
	}

	&[data-with-border='false'] {
		box-shadow: none;
	}
}

.image {
	display: flex;
	position: relative;
	background: var(--image-url, none) no-repeat center center / cover;
	padding: 0.5em;

	&[data-overlay='true']::before {
		content: '';
		position: absolute;
		inset: 0;
		border-radius: inherit;
		z-index: 1;
		background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) -50%, rgba(0, 0, 0, 0.9) 100%);
	}

	&[data-variant='vertical'] {
		width: 100%;
		min-height: 13.75rem;
		border-radius: var(--border-radius);

		@include breakpoint(large, max) {
			min-height: 0;
		}
	}

	&[data-variant='horizontal'] {
		width: 13.44rem;
		min-height: 9.25rem;
		border-radius: var(--border-radius) 0 0 var(--border-radius);

		@include breakpoint(large, max) {
			width: 100%;
			min-height: 13.75rem;
			border-radius: var(--border-radius);
		}
	}
}

.button {
	align-self: flex-end;
	max-width: 100%;
	font-size: 0.63rem;
	z-index: 2;
}

.category {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	line-clamp: 1;
	overflow: hidden;
	text-wrap: balance;
}

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.5em;

	&[data-variant='vertical'] {
		height: 50%;
		width: 100%;
	}

	&[data-variant='horizontal'] {
		width: 80%;

		@include breakpoint(large, max) {
			height: 50%;
			width: 100%;
		}
	}
}
