@use '@/styles/mixins' as *;

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 1.13rem;
	border-radius: 9999px;
	gap: 0.5em;
	background-color: var(--jh-green-01);
	color: var(--jh-white-01);
	font-size: 0.88rem;
	min-width: fit-content;
	min-height: 2.25rem;

	&:hover {
		background-color: rgba(var(--jh-green-01-rgb), 0.8);
	}

	.iconArrowSlant {
		@include icon('/icons/arrow-slant.svg', 12px);
	}
}

.buttonSkeleton {
	border-radius: 9999px;
	min-width: 12.13rem;
	min-height: 2.25rem;
}

.titleSkeleton {
	border-radius: 0.75rem;
	width: 100%;
	min-height: 2.5rem;
}

.iconSave {
	color: var(--jh-green-01);

	&:hover {
		background-color: rgba(var(--jh-green-01-rgb), 0.8);
	}

	@include icon('/icons/bookmark.svg', 24px);
}
