.wrapper {
	display: flex;
	align-items: flex-start;
	gap: 0.75em;

	.pill {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0.5em;
		min-width: 3em;
		aspect-ratio: 1 / 1;
		background: var(--jh-green-01);
		color: var(--white);
		text-align: center;
		font-size: 0.88rem;
		font-style: normal;
		font-weight: 700;
		line-height: 1.75em;
		margin-top: 0.25em;

		&[data-error] {
			margin-top: 0.25em;
		}
	}

	.card {
		display: flex;
		align-items: center;
		padding: 1.38em;
		width: 100%;
		border-radius: 0.75rem;
		border: 1px solid var(--jh-gray-08);
		box-shadow: 0 1px 2px 0 rgba(var(--shadow-dark-rgb), 0.05);

		.content {
			font-size: 1rem;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			text-decoration-line: underline;
			text-decoration-style: solid;
			text-decoration-skip-ink: auto;
			text-decoration-thickness: auto;
			text-underline-offset: auto;
			text-underline-position: from-font;
		}
	}
}
