@use '@/styles/mixins' as *;

.wrapper {
	display: flex;
	flex-direction: column;
	background-color: var(--white);
	padding: 2em;

	.container {
		display: flex;
		flex-direction: column;
		gap: 2em;
		height: 100%;
		width: 100%;
		max-width: 1280px;
		margin: 0 auto;

		.buttonsContainer {
			z-index: 1;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 1em;

			.backButton {
				background-color: var(--jh-white-01);
				color: var(--jh-green-01);
				border: 1px solid var(--jh-gray-08);

				&:hover {
					background-color: rgba(var(--jh-white-01-rgb), 0.8);
				}

				.iconBack {
					@include icon('/icons/chevron-left.svg', 16px);
				}
			}

			.continueButtons {
				display: flex;
				align-items: center;
				gap: 0.88em;
				min-height: 2.31rem;
				font-size: 0.875rem;
				font-style: normal;
				font-weight: 700;
				line-height: 1rem;

				.previewButton {
					color: var(--jh-green-01);
					border-color: var(--jh-green-01);
				}

				.backButton {
					background-color: var(--jh-white-01);
					color: var(--jh-green-01);
					border: 1px solid var(--jh-gray-08);

					&:hover {
						background-color: rgba(var(--jh-white-01-rgb), 0.8);
					}

					.iconBack {
						@include icon('/icons/chevron-left.svg', 16px);
					}
				}

				.continueButton {
					background-color: var(--jh-green-01);
					color: var(--jh-white-01);
					font-size: 0.88rem;

					&:hover {
						background-color: rgba(var(--jh-green-01-rgb), 0.9);
					}
				}
			}
		}

		.content {
			display: flex;
			flex-direction: column;
			gap: 4em;
			width: 100%;

			@include breakpoint(large, min) {
				flex-direction: row;
			}

			.protocolInfo {
				display: flex;
				flex-direction: column;
				gap: 2em;
				width: 100%;

				> h2 {
					font-size: 2.5rem;
					font-weight: 900;
					word-break: break-word;
				}

				.categorySelect {
					background-color: var(--jh-green-01);
					color: var(--white);

					&:hover {
						background-color: rgba(var(--jh-green-01-rgb), 0.9);
					}
				}

				.titleInput {
					display: flex;
					align-items: center;
					gap: 1em;
					position: relative;

					.titleLabel {
						display: flex;
						align-items: center;
						gap: 0.5ch;
						font-size: 2.5rem;
						font-weight: 900;
						position: absolute;
						left: 0;
						cursor: pointer;

						.required {
							color: var(--jh-red-01);
						}

						&[data-hidden='true'] {
							display: none;
						}
					}
				}

				.inputTitle {
					border: none;
					background-color: transparent;
					box-shadow: none;
					padding: 0;

					input {
						font-size: 2.5rem;
						font-weight: 900;
						border: none;
						background-color: transparent;
						padding: 0;
					}
				}
				.faqsContainer,
				.sourcesContainer {
					display: flex;
					flex-direction: column;
					gap: 1em;

					.faqsLabel,
					.sourcesLabel {
						display: flex;
						align-items: center;
						gap: 0.5ch;
						font-size: 1rem;
						font-style: normal;
						font-weight: 700;
						line-height: 1.25em;

						.required {
							color: var(--jh-red-01);
						}
					}

					.sourcesGrid,
					.faqsGrid {
						display: flex;
						flex-direction: column;
						gap: 1em;

						.sourceItem,
						.faqItem {
							display: flex;
							align-items: center;
							gap: 1em;
						}

						.input {
							flex-grow: 1;
						}

						.iconRemove {
							color: var(--jh-red-01);
							@include icon('/icons/close.svg', 14px);
						}
					}
				}
				.iconPlus {
					@include icon('/icons/plus.svg', 14px);
				}
			}
		}
	}
}
