@use '@/styles/mixins' as *;

.wrapper {
	display: flex;
	flex-direction: column;
	padding: 2em 0;
	width: 100%;

	.backButton {
		background-color: var(--white);
		color: var(--jh-green-01);
		border: 1px solid var(--jh-gray-08);
		&:hover {
			background-color: rgba(var(--white-rgb), 0.8);
		}

		.iconBack {
			@include icon('/icons/chevron-left.svg', 16px);
		}
	}

	.container {
		display: flex;
		flex-direction: column;
		gap: 2em;
		height: 100%;
		width: 100%;

		.content {
			display: flex;
			flex-direction: column;
			gap: 4em;
			width: 100%;

			@include breakpoint(large, min) {
				flex-direction: row;
			}

			.protocolInfo {
				display: flex;
				flex-direction: column;
				gap: 2em;
				width: 100%;

				> h2 {
					font-size: 2.5rem;
					font-weight: 900;
					word-break: break-word;
				}

				.faqsContainer,
				.sourcesContainer {
					display: flex;
					flex-direction: column;
					gap: 1em;
				}

				.faqsLabel,
				.sourcesLabel {
					font-size: 1rem;
					font-style: normal;
					font-weight: 700;
					line-height: 1.25em;
				}

				.iconArrowSlant {
					@include icon('/icons/arrow-slant.svg', 12px);
				}
			}
			.commentsHeader {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}

			.commentsLabel {
				font-size: 0.88rem;
				font-style: normal;
				font-weight: 700;
				line-height: 1.25rem;
			}

			.commentsContainer {
				display: flex;
				flex-direction: column;
				gap: 1em;
			}
		}
	}
}
