@use '@/styles/mixins' as *;

.container {
	display: flex;
	flex-direction: column;
	padding: 1em 0;
	gap: 2em;
	width: 100%;

	.titleSortFilter {
		display: flex;
		justify-content: space-between;
		gap: 1em;

		.selectOptions {
			display: flex;
			align-items: center;
			gap: 0.5em;
		}
	}

	.trendingProtocolsList {
		display: flex;
		flex-direction: column;
		gap: 1.12em;

		.skeletonGroup {
			display: flex;
			flex-direction: column;
			gap: 1.12em;

			.skeleton {
				min-height: 9.25rem;
			}
		}

		.noProtocols {
			display: flex;
			justify-content: center;
			align-items: center;
			min-height: 9.25rem;
			border-radius: 0.75em;
		}

		.noProtocols p {
			color: var(--jh-gray-01);
			font-size: 0.88rem;
			font-style: normal;
			font-weight: 500;
			line-height: 1.25rem;
		}
	}
}
