@use '@/styles/mixins' as *;

.wrapper {
	display: flex;
	flex-direction: column;
	background-color: var(--white);
	padding: 2em;
	min-height: 100vh;
	width: 100%;

	.container {
		display: flex;
		flex-direction: column;
		gap: 2em;
		height: 100%;
		width: 100%;
		max-width: 1280px;
		margin: 0 auto;

		.buttonsContainer {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 1em;
		}

		.backButton {
			background-color: var(--jh-white-01);
			color: var(--jh-green-01);
			border: 1px solid var(--jh-gray-08);

			&:hover {
				background-color: rgba(var(--jh-white-01-rgb), 0.8);
			}

			.iconBack {
				@include icon('/icons/chevron-left.svg', 16px);
			}
		}

		.continueButtons {
			display: flex;
			align-items: center;
			gap: 0.88em;
			min-height: 2.31rem;
			font-size: 0.875rem;
			font-style: normal;
			font-weight: 700;
			line-height: 1rem;

			.previewButton {
				color: var(--jh-green-01);
				border-color: var(--jh-green-01);
			}

			.continueButton {
				background-color: var(--jh-green-01);
				color: var(--jh-white-01);
				font-size: 0.88rem;

				&:hover {
					background-color: rgba(var(--jh-green-01-rgb), 0.9);
				}
			}
		}
	}
	.container > .content {
		display: flex;
		flex-direction: column;
		gap: 4em;
		width: 100%;

		.discoverInfo {
			display: flex;
			flex-direction: column;
			gap: 2em;
			width: 100%;

			.select {
				display: flex;
				flex-direction: column;
				gap: 1.75em;

				.selectLabel {
					font-size: 0.875rem;
					font-style: normal;
					font-weight: 700;
					line-height: 1.25rem;
					.required {
						color: var(--jh-red-01);
						font-size: 0.875rem;
						font-style: normal;
						font-weight: 700;
						line-height: 1.25rem;
					}
				}
			}

			.categorySelect {
				background-color: var(--jh-green-01);
				color: var(--white);

				&:hover {
					background-color: rgba(var(--jh-green-01-rgb), 0.9);
				}
			}

			.titleInput {
				display: flex;
				align-items: center;
				gap: 1em;
				position: relative;

				.titleLabel {
					display: flex;
					align-items: center;
					gap: 0.5ch;
					font-size: 2.5rem;
					font-weight: 900;
					position: absolute;
					left: 0;
					cursor: pointer;

					&[data-hidden='true'] {
						display: none;
					}

					.required {
						color: var(--jh-red-01);
					}
				}

				.inputTitle {
					font-size: 2.5rem;
					font-weight: 900;
					border: none;
					background-color: transparent;
					box-shadow: none;
					padding: 0;
					width: 100%;

					input {
						font-size: 2.5rem;
						font-weight: 900;
						border: none;
						background-color: transparent;
						padding: 0;
					}
				}
			}
		}
	}
}
