@use '@/styles/mixins' as *;

.wrapper {
	display: flex;
	flex-direction: column;
	padding: 1em 0;
	gap: 2em;
	width: 100%;

	.skeleton {
		width: 100%;
		height: 100%;
		min-height: 22.5rem;
		border-radius: 0.75em;
	}

	.noDiscoveries {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 22.5rem;
		border-radius: 0.75em;

		p {
			color: var(--jh-gray-01);
			font-size: 0.88rem;
			font-style: normal;
			font-weight: 500;
			line-height: 1.25rem;
		}
	}

	.titleSortFilter {
		display: flex;
		justify-content: space-between;
		gap: 1em;

		.selectOptions {
			display: flex;
			align-items: center;
			gap: 0.5em;
		}
	}

	.trendingDiscoveriesList {
		display: flex;
		flex-direction: column;
		gap: 1.13em;

		.skeletonGroup {
			display: flex;
			flex-direction: column;
			gap: 1.13em;

			.skeleton {
				min-height: 9.25rem;
				border-radius: 0.75em;
			}
		}

		.discoveryCard {
			background-color: var(--white);
			padding: 0.69em 0.65em;
			border-radius: 0.75em;
			box-shadow: 0 1px 3px 0 rgba(var(--black-rgb), 0.12);
		}

		.noTrending {
			display: flex;
			justify-content: center;
			align-items: center;
			min-height: 9.25rem;
			border-radius: 0.75em;

			p {
				color: var(--jh-gray-01);
				font-size: 0.88rem;
				font-style: normal;
				font-weight: 500;
				line-height: 1.25rem;
			}
		}
	}
}
