@use '@/styles/mixins' as *;

.errorContainer {
	display: flex;
	flex-direction: column;
	gap: 1.44em;
	height: 100dvh;
	width: 100%;

	.errorContent {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 2em;
		height: 100%;
		width: 100%;
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	padding: 2em 0;
	width: 100%;

	.container {
		display: flex;
		flex-direction: column;
		gap: 1.44em;
		height: 100%;
		width: 100%;

		.backButton {
			background-color: var(--white);
			color: var(--jh-green-01);
			border: 1px solid var(--jh-gray-08);

			.iconBack {
				@include icon('/icons/chevron-left.svg', 16px);
			}

			&:hover {
				background-color: rgba(var(--white-rgb), 0.8);
			}
		}

		.content {
			display: flex;
			flex-direction: column;
			gap: 2em;
			width: 100%;

			.discoveryContent {
				display: flex;
				flex-direction: column;
				gap: 1.3em;
				width: 100%;

				.imageContainer {
					display: flex;
					flex-direction: column;
					gap: 0.62em;
					width: 100%;

					.imageSkeleton {
						min-height: 29.38rem;
						border-radius: 0.5em;
					}

					.discoveryImage {
						width: 100%;
						height: 29.38rem;
						object-fit: cover;
						border-radius: 0.5em;
					}

					.descriptionSkeleton {
						min-height: 0.75rem;
					}

					.imageDescription {
						font-size: 0.75rem;
						font-style: normal;
						font-weight: 400;
						line-height: normal;
					}
				}

				.data {
					display: flex;
					flex-direction: column;
					gap: 1.75em;
					width: 100%;

					.contentSkeleton {
						min-height: 30rem;
						width: 100%;
					}

					.end {
						font-size: 0.875rem;
						font-style: italic;
						font-weight: 400;
						line-height: normal;
						color: var(--jh-gray-01);
						text-align: center;
					}

					.buttons {
						display: flex;
						align-items: center;
						gap: 0.63em;

						.report,
						.print {
							flex-shrink: 0;
						}

						.iconReport {
							@include icon('/icons/flag.svg', 16px);
						}

						.iconPrint {
							@include icon('/icons/print.svg', 16px);
						}
					}

					.pagination {
						display: flex;
						align-items: center;
						justify-content: space-between;
						gap: 1em;
						padding: 0.75em 1.5em 1em 1.5em;
						border-top: 1px solid var(--jh-gray-05);

						.previous,
						.next {
							flex-shrink: 0;
							min-height: 2.25rem;

							&:hover {
								background-color: rgba(var(--white-rgb), 0.8);
							}
						}

						.iconPrevious {
							@include icon('/icons/arrow-left.svg', 12px);
						}

						.iconNext {
							@include icon('/icons/arrow-right.svg', 12px);
						}
					}

					.label {
						font-size: 0.88rem;
						font-style: normal;
						font-weight: 700;
						line-height: 1.25rem;
						height: 2.44rem;
						border-bottom: 1px solid var(--jh-gray-05);
					}
				}
			}
		}
	}
}
