.wrapper {
	display: flex;
	padding: 18px 22px;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	border-radius: 20px;
	background-color: var(--white);
	&Header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		label {
			color: var(--jh-gray-02);
			font-size: 16px;
			font-style: normal;
			font-weight: 500;
			line-height: 26px;
		}
		button {
			background-color: var(--jh-green-04);
		}
	}
	&Body {
		display: flex;
		flex-direction: column;
		gap: 10px;
		max-width: 312px;
		overflow: hidden;
		transition: all 0.3s ease-in-out;
		overflow-y: auto;
		min-height: 0;
		flex: 0;
		max-height: 60vh;
		&.expanded {
			min-height: 0;
		}
		&.collapsed {
			height: 100%;
			max-height: 45vh;
			.wrapperBodyItem:nth-child(n + 4) {
				opacity: 0;
				transform: translateY(-30px);
				max-height: 200px;
				min-height: 0;
				height: 0;
				overflow: hidden;
				margin: 0;
				padding: 0;
			}
		}

		&Item {
			display: flex;
			flex-direction: column;
			gap: 6px;
			opacity: 1;
			transform: translateY(0);
			transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
			border-bottom: 0.5px solid var(--jh-gray-02);
			padding: 0 0 10px 0;
			&Title {
				color: var(--black);
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
			}
			&Date {
				overflow: hidden;
				color: var(--jh-gray-02);
				display: -webkit-box;
				-webkit-line-clamp: 2;
				line-clamp: 2;
				-webkit-box-orient: vertical;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 1.4;
			}
		}
	}
	&Footer {
		display: flex;
		justify-content: flex-end;
		width: 100%;
		button {
			width: 100%;
			background-color: var(--jh-light-green-02);
			color: var(--black);
		}
	}
}
