.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh; /* Changed from width: 100% */
	width: 100%;
	background-image: url('/images/main-bg.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.header {
	width: 100%;
}

.content {
	flex-grow: 1;
	width: 100%;
}

.footer {
	width: 100%;
}
