@use '@/styles/mixins' as *;

.replies {
	display: flex;
	flex-direction: column;
	gap: 1em;

	&[data-nested='true'] {
		margin-left: 1.25em;
		padding: 1.5em 0 0 1.88em;
		border-left: 3px solid var(--jh-gray-05);
	}

	&[data-depth='0'] {
		padding: 1.5em 0 0 0;
		border-left: none;
	}

	&[data-depth='1'] {
		margin-left: 1.25em;
		padding: 1.5em 0 0 1.88em;
		border-left: 3px solid var(--jh-gray-05);
	}

	&[data-depth='2'] {
		margin-left: 1.25em;
		padding: 1.5em 0 0 1.88em;
		border-left: 3px solid var(--jh-gray-05);
	}

	.reply {
		display: flex;
		align-items: flex-start;
		align-self: stretch;
		gap: 1.62em;
		padding-bottom: 1.5em;
		width: 100%;
	}

	.divider {
		border-color: var(--jh-gray-05);
		margin-left: 1.88em;
	}

	.reply > .card {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 1.13em;
		flex: 1 1 auto;

		.header {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			gap: 1em;
			width: 100%;

			.info {
				display: flex;
				flex-direction: column;
				gap: 0.5ch;
			}

			.deleteDialog {
				padding: 1em 1.5em;
				min-width: 5rem;

				.deleteTitle {
					color: var(--jh-red-01);
				}

				.deleteMessage {
					font-size: 0.88rem;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
					color: var(--jh-gray-01);
				}

				.cancelButton {
					background-color: var(--jh-gray-03);
				}
			}

			.ellipsis {
				width: 1.13rem;
				height: 1.13rem;
				aspect-ratio: 1/1;
			}
		}

		.ellipsis > .iconEllipsis {
			color: var(--jh-gray-01);
			@include icon('/icons/ellipsis.svg', 18px);
		}

		.info > .name {
			font-size: 0.88rem;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
		}

		.info > .date {
			font-size: 0.75rem;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}

		.content {
			font-size: 0.88rem;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}

		.contentExpanded {
			display: block;
			-webkit-line-clamp: unset;
			line-clamp: unset;
		}

		.toggleButton {
			margin-top: 0.5em;
			font-size: 0.88rem;
			font-weight: 500;
			color: var(--jh-green-01);
			padding: 0;

			&:hover {
				text-decoration: underline;
			}
		}

		.actions {
			display: flex;
			align-items: center;
			gap: 1em;

			.repliesButton {
				display: flex;
				align-items: center;
				gap: 0.38em;
				color: var(--jh-gray-01);

				&:hover {
					text-decoration: underline;
				}

				.iconReply {
					@include icon('/icons/chats-outline.svg');
				}

				.count {
					font-size: 0.88rem;
					font-style: normal;
					font-weight: 500;
					line-height: 1rem;
				}
			}

			.replyButton {
				color: var(--jh-gray-01);
				font-size: 0.88rem;
				font-style: normal;
				font-weight: 500;
				line-height: 1rem;
				text-decoration-line: underline;
				text-decoration-style: solid;
				text-decoration-skip-ink: auto;
				text-decoration-thickness: auto;
				text-underline-offset: 8%;
				text-underline-position: from-font;
			}
		}

		.editReply {
			display: flex;
			flex-direction: column;
			gap: 0.5em;
			width: 100%;

			.cancelButton {
				color: var(--jh-red-01);
				align-self: flex-end;
			}
		}
	}
	.skeleton {
		width: 100%;
		height: 6rem;
		margin-left: 1.25em;
		padding: 1.5em 0 0 1.88em;
		border-left: 3px solid var(--jh-gray-05);
	}
}
