@use '@/styles/mixins' as *;

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.44em;
	padding: 1.56em 4.06em;
	width: 100%;

	@include breakpoint(wide, max) {
		padding: 1.56em 0;
	}

	&Mid {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.44em;
		width: 100%;
		overflow-y: auto;
		scrollbar-width: none;
		-ms-overflow-style: none;

		&::-webkit-scrollbar {
			display: none;
		}
	}
}
