.footer {
	background-color: var(--black);
	padding: 40px;

	.opacity {
		opacity: 0.2;
	}

	.wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		gap: 40px;
		padding: 32px 0;
	}

	.columnOne {
		flex: 1 1 calc(35% - 40px);
		max-width: calc(35% - 40px);
		display: flex;
		flex-direction: column;
		gap: 24px;

		.socials {
			display: flex;
			gap: 8px;
		}
	}

	.columnTwo {
		flex: 1 1 calc(15% - 40px);
		max-width: calc(15% - 40px);
		display: flex;
		flex-direction: column;
		gap: 32px;

		h6 {
			color: var(--white);
			font-size: 16px;
			font-style: normal;
			font-weight: 700;
			line-height: 1;
		}

		.menuList {
			list-style-type: none;

			li {
				color: var(--white);
				font-size: 16px;
				font-style: normal;
				font-weight: 500;
				line-height: 2.75;
			}
		}
	}

	.columnThree {
		flex: 1 1 calc(15% - 40px);
		max-width: calc(15% - 40px);
		display: flex;
		flex-direction: column;
		gap: 32px;

		h6 {
			color: var(--white);
			font-size: 16px;
			font-style: normal;
			font-weight: 700;
			line-height: 1;
		}

		.menuList {
			list-style-type: none;

			li {
				color: var(--white);
				font-size: 16px;
				font-style: normal;
				font-weight: 500;
				line-height: 2.75;
			}
		}
	}

	.columnFour {
		flex: 1 1 calc(30% - 40px);
		max-width: calc(30% - 40px);
		display: flex;
		flex-direction: column;
		gap: 36px;

		h6 {
			color: var(--white);
			font-size: 16px;
			font-style: normal;
			font-weight: 700;
			line-height: 1;
		}

		.subscriptionForm {
			input {
				border: 1px solid transparent;
				background-color: var(--white);
				border-radius: 999px;

				&::placeholder {
					font-size: 16px;
				}
			}

			button[type="submit"] {
				min-width: 100%;
			}
		}

		.actions {
			display: flex;
			gap: 8px;

			button {
				flex: 1 1 calc(50% - 8px);
				min-width: calc(50% - 8px);
				border: 1px solid var(--white);
				background-color: transparent;
			}
		}
	}

	&Rights {
		text-align: center;
		color: var(--white);
	}

	.description {
		color: var(--white);
		text-align: justify;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 1.63;
	}
}
