@use 'font-face';
@use 'typography';
@use 'mixins';

:root {
	--container-width: 1440px;
	--container-width-small: 600px;
	--container-width-medium: 760px;
	--container-width-medium-large: 800px;
	--container-width-large: 1180px;
	--container-width: 1440px;
	--container-width-small: 600px;
	--container-width-medium: 760px;
	--container-width-medium-large: 800px;
	--container-width-large: 1180px;

	// Site colors
	--black: #000000;
	--white: #ffffff;
	--off-white: #f7f7f7;
	--jh-green-01: #18ac6a;
	--jh-green-02: #398f69;
	--jh-green-03: #117d4d;
	--jh-green-04: #118451;
	--jh-green-05: #8bd5b4;
	--jh-green-06: #0b5937;
	--jh-light-green-01: #c1ffe3;
	--jh-light-green-02: #bae6d2;
	--jh-light-green-03: #c2f3cc;
	--jh-light-green-04: #91dda0;
	--jh-light-green-05: #bfe5c7;
	--jh-blue-01: #1a7ef0;
	--jh-blue-02: #2d5a87;
	--jh-blue-03: #1e3a52;
	--jh-red-01: #de3737;
	--jh-gray-01: #808080;
	--jh-gray-02: #535862;
	--jh-gray-03: #a4a7ae;
	--jh-gray-04: #d6d6d6;
	--jh-gray-05: #e9eaeb;
	--jh-gray-06: #454545;
	--jh-gray-07: #343434;
	--jh-gray-08: #eff1f5;
	--jh-gray-09: #f1f5f9;
	--jh-gray-10: #e5e7eb;
	--jh-gray-11: #c7c7c7;
	--jh-gray-12: #aeaeae;
	--jh-gray-13: #ededed;
	--jh-gray-14: #7b7b7b;
	--jh-gray-15: #e4e4e4;
	--jh-white-01: #f2f4f7;
	--jh-white-02: #d1d1d1;
	--jh-white-03: #d2d2d2;
	--jh-white-04: #fafafa;
	--jh-orange-01: #ff974c;

	// RGB values for alpha calculations
	--black-rgb: 0, 0, 0;
	--white-rgb: 255, 255, 255;
	--off-white-rgb: 247, 247, 247;
	--jh-green-01-rgb: 24, 172, 106;
	--jh-green-02-rgb: 57, 143, 105;
	--jh-green-03-rgb: 17, 125, 77;
	--jh-green-04-rgb: 17, 132, 81;
	--jh-green-05-rgb: 139, 213, 180;
	--jh-green-06-rgb: 11, 89, 55;
	--jh-light-green-01-rgb: 193, 255, 227;
	--jh-light-green-02-rgb: 186, 230, 210;
	--jh-light-green-03-rgb: 194, 243, 204;
	--jh-light-green-04-rgb: 145, 221, 160;
	--jh-blue-01-rgb: 26, 126, 240;
	--jh-blue-02-rgb: 45, 90, 135;
	--jh-blue-03-rgb: 30, 58, 82;
	--jh-red-01-rgb: 222, 55, 55;
	--jh-gray-01-rgb: 128, 128, 128;
	--jh-gray-02-rgb: 83, 88, 98;
	--jh-gray-03-rgb: 164, 167, 174;
	--jh-gray-04-rgb: 214, 214, 214;
	--jh-gray-05-rgb: 233, 234, 235;
	--jh-gray-06-rgb: 69, 69, 69;
	--jh-gray-07-rgb: 52, 52, 52;
	--jh-gray-08-rgb: 239, 241, 245;
	--jh-gray-09-rgb: 241, 245, 249;
	--jh-gray-10-rgb: 229, 231, 235;
	--jh-gray-11-rgb: 199, 199, 199;
	--jh-gray-12-rgb: 174, 174, 174;
	--jh-gray-13-rgb: 237, 237, 237;
	--jh-gray-14-rgb: 123, 123, 123;
	--jh-gray-15-rgb: 228, 228, 228;
	--jh-white-01-rgb: 242, 244, 247;
	--jh-white-02-rgb: 209, 209, 209;
	--jh-white-03-rgb: 210, 210, 210;
	--jh-white-04-rgb: 250, 250, 250;
	// Common shadow colors
	--shadow-dark-rgb: 10, 13, 18;

	// Font
	--font-satoshi: 'Satoshi', Helvetica, sans-serif;
	// Font
	--font-satoshi: 'Satoshi', Helvetica, sans-serif;
}

* {
	box-sizing: border-box;
	box-sizing: border-box;
}

html {
	color: var(--black);
	font-family: var(--font-satoshi) !important;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5;
	background-color: var(--jh-white-01);
	scroll-behavior: smooth;

	/* Firefox - overlay scrollbars */
	scrollbar-width: auto;
	scrollbar-color: var(--jh-gray-03) transparent;

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background: var(--jh-gray-03);
		border-radius: 4px;
		border: 2px solid transparent; /* Creates the "floating" effect */
		background-clip: content-box; /* Makes the border transparent */
	}

	&::-webkit-scrollbar-thumb:hover {
		background: var(--jh-gray-04);
		background-clip: content-box;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 48px;
	line-height: 1.1;
	letter-spacing: -0.32px;
}

h2 {
	font-size: 36px;
	line-height: 1.2;
	letter-spacing: -0.24px;
}

h3 {
	font-size: 28px;
	line-height: 1.25;
	letter-spacing: -0.16px;
}

h4 {
	font-size: 24px;
	line-height: 1.3;
	letter-spacing: 0px;
}

h5 {
	font-size: 20px;
	line-height: 1.4;
	letter-spacing: 0.16px;
}

h6 {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.24px;
}

p {
	margin: 0;
	padding: 0;
}

a {
	color: var(--black);
	text-decoration: none;
	cursor: pointer;
}

ul,
ol,
dl {
	margin: 0;
	padding: 0;
}

button {
	cursor: pointer;
}

button,
input,
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 0;
	padding: 0;
}
