<IfModule mod_headers.c>
Header always set Content-Security-Policy "default-src 'self'; connect-src 'self' https://dev-api.justholistics.com/ https://www.google-analytics.com/ https://www.googletagmanager.com/; img-src 'self' data: blob: https:; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://www.googletagmanager.com/ https://www.google-analytics.com/; style-src 'self' 'unsafe-inline'; font-src 'self' data: https:; frame-src 'self' https://www.googletagmanager.com/; worker-src 'self' blob:; base-uri 'self'; form-action 'self'; object-src 'none'"
</IfModule>
