@use '@/styles/mixins' as *;

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.label {
	font-size: 0.88rem;
	font-style: normal;
	font-weight: 700;
	line-height: 1.25rem;
}

.required {
	color: var(--jh-red-01);
}

.radioGroup {
	display: flex;
	padding: 1.38em;
	width: 100%;
	min-width: 32.13rem;
	background-color: var(--white);

	&[data-align='horizontal'] {
		flex-direction: row;
		gap: 1.75em;
	}

	&[data-align='vertical'] {
		flex-direction: column;
		gap: 0.75em;
	}

	&[data-with-border='true'] {
		border: 1px solid var(--jh-gray-08);
		border-radius: 0.75em;
		box-shadow: 0 1px 2px 0 rgba(var(--shadow-dark-rgb), 0.05);
	}

	&[data-with-border='false'] {
		border: none;
	}
}

.radioItem {
	display: flex;
	align-items: center;
	gap: 1.31em;
}

.radio {
	@include radio-input;

	&:hover {
		border-color: var(--jh-gray-03);
	}

	&:focus {
		border-color: var(--jh-green-01);
	}
}

.radioLabel {
	cursor: pointer;
	user-select: none;
	font-size: 0.88rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	color: var(--black);
}
