.otpForm {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;

  .formGroup {
    margin: 32px 0;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 40px auto;
      background-color: var(--jh-green-01);
      border: 12px solid var(--jh-light-green-02);
      border-radius: 999px;
      width: calc(95px + 27px);
      height: calc(95px + 27px);

      &::before {
        content: '';
        background-image: url('/icons/message.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 38px;
        height: 38px;
        // animation: spin 1s linear infinite;
      }
    }
    
    .instructions {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.14;
      margin: 24px 0 40px;
    }

    .actions {
      display: flex;
      flex-direction: column;
      gap: 12px;
      max-width: 300px;
      margin: 8px auto 0;
      
      button {
        min-width: 100% !important;
      }
    }

    .contact {
      margin-top: 24px;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.14;

      a {
        color: var(--jh-blue-01);
      }
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}