@use '@/styles/mixins.scss' as *;

$base: 0.25rem;

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 32px;
	background-color: var(--white);
	border-radius: 12px;
	padding: 32px 48px;
	width: 100%;
	box-shadow: 0 -1px 40px 0 rgba(0, 0, 0, 0.10);
	margin-bottom: 48px;
}

.filter {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.sortFilter {
		background: var(--jh-green-01);
		color: var(--white);
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		padding: 8px 16px;
	}
}

.viewMore {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	position: relative;
	overflow: hidden;
}

.chevron {
  position: absolute;
	top: 0;
	bottom: 0;
  width: $base * 3;
  height: $base * 0.5;
  opacity: 0;
  transform: scale(0.5);
  animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
  animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
	content: '';
	position: absolute;
	top: 0;
	height: 100%;
	width: 50%;
	background: #000000;
}

.chevron:before {
	left: 0;
	transform: skewY(30deg);
}

.chevron:after {
	right: 0;
	width: 50%;
	transform: skewY(-30deg);
}

@keyframes move-chevron {
	0% {
		opacity: 0;
		transform: translateY($base * 0.8);
	}
	25% {
		opacity: 0.15;
		transform: translateY($base * 1.8);
	}
 	33.3% {
  	opacity: 1.75;
  	transform: translateY($base * 2.5);
 	}
 	66.6% {
  	opacity: 0.15;
  	transform: translateY($base * 3.8);
 	}
 	100% {
  	opacity: 0;
  	transform: translateY($base * 5);
 	}
}
