@use '@/styles/mixins' as *;

.inputWrapper,
.iconWrapper {
	display: flex;
	align-items: center;
	gap: 0.75em;
	border: 1px solid var(--jh-gray-03);
	padding: 0.25em 0.75em;
	background-color: var(--white);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

	.inputIcon {
		display: flex;
		align-items: center;
		justify-content: center;
		//   padding: 0 0.5em;
	}

	.input {
		@include input-base;
	}
}

.inputWrapper--sm {
	border-radius: 0.25rem; // 4px
}
.inputWrapper--md {
	border-radius: 0.38rem; // 6px
}
.inputWrapper--lg {
	border-radius: 0.5rem; // 8px
}
.inputWrapper--xl {
	border-radius: 0.63rem; // 10px
}
.inputWrapper--2xl {
	border-radius: 0.75rem; // 12px
}
.inputWrapper--3xl {
	border-radius: 1rem; // 16px
}
.inputWrapper--full {
	border-radius: 9999px; // 100%
}
