@use '@/styles/mixins.scss' as *;

.actions {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1em;
	width: 100%;

	.tags {
		display: flex;
		align-items: center;
		gap: 0.5em;

		.tag {
			font-size: 0.88rem;
			font-weight: 500;
			background-color: transparent;
			color: var(--jh-green-03);
			border: 1px solid var(--jh-green-03);

			&:hover {
				background-color: rgba(var(--jh-green-03-rgb), 0.1);
				color: var(--jh-green-03);
			}
		}
		.tagSkeleton {
			min-height: 2.25rem;
			min-width: 9.5rem;
			border-radius: 9999px;
		}

		.iconEllipsis {
			@include icon('/icons/ellipsis.svg', 12px);
		}
	}

	.actionButtons {
		display: flex;
		align-items: center;
		gap: 0.5em;

		.button {
			background-color: var(--jh-green-01);
			color: var(--white);
			flex-shrink: 0;

			&:hover {
				background-color: rgba(var(--jh-green-01-rgb), 0.8);
			}

			.iconFacebook {
				@include icon('/icons/facebook.svg', 12px);
			}

			.iconX {
				@include icon('/icons/x.svg', 12px);
			}

			.iconLinkedIn {
				@include icon('/icons/linkedin.svg', 12px);
			}

			.iconPinterest {
				@include icon('/icons/pinterest.svg', 12px);
			}
		}
	}
}
