@use '@/styles/mixins' as *;

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1.2em;
	gap: 1em;
	background-color: var(--jh-green-05);
	border-radius: 1.25rem;
	min-height: 4.44rem;
	flex-shrink: 0;

	@include breakpoint(medium, min) {
		flex-direction: row;
		align-items: center;
	}

	.avatar {
		display: flex;
		align-items: center;
		gap: 0.75em;
	}

	.info {
		display: flex;
		flex-direction: column;

		.username .name {
			font-size: 0.875rem;
			font-style: normal;
			line-height: 1rem;
		}

		.username {
			font-weight: 700;
		}

		.name {
			font-weight: 400;
		}
	}

	.action {
		display: block;

		.button {
			background-color: var(--jh-green-01);
			color: var(--white);
			font-size: 0.75rem;
			font-style: normal;
			font-weight: 700;
			line-height: 1rem;
			width: 100%;
			min-height: 1.63rem;

			&:hover {
				background-color: rgba(var(--jh-green-01-rgb), 0.9);
			}

			@include breakpoint(medium, min) {
				width: 6.81rem;
			}
		}
	}
}
