@use '@/styles/mixins' as *;

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.88em;
	width: 100%;
	// margin-right: 5.69em;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.user {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1ch;
	font-weight: 700;
	line-height: 2rem;

	.name {
		font-size: 2rem;
		color: var(--black);
	}

	.username {
		margin-top: 0.35rem;
		font-size: 0.88rem;
		color: var(--jh-gray-01);
	}
}

.actions {
	display: flex;
	align-items: center;
	gap: 0.88em;

	.create {
		background-color: var(--jh-green-01);
		color: var(--white);
		min-height: 2.38rem;
		min-width: 7.25rem;

		&:hover {
			background-color: rgba(var(--jh-green-01-rgb), 0.9);
		}

		.iconChevronDown {
			@include icon('/icons/chevron-down.svg');
		}
	}

	.edit {
		background-color: transparent;
		border-color: var(--jh-green-01);
		color: var(--jh-green-01);
		min-height: 2.38rem;
		min-width: 7.25rem;

		&:hover {
			background-color: rgba(var(--jh-green-01-rgb), 0.05);
		}
	}

	.input {
		width: 100%;
		max-width: 200px;
		background-color: transparent;
		border: 1px solid var(--jh-green-03);
		cursor: pointer;
		transition: all 0.3s ease-in-out;

		.iconArrowRight {
			@include icon('/icons/arrow-right.svg');
		}
	}
}

.security {
	display: flex;
	flex-direction: column;
	// gap: 0.38em;
	font-size: 0.88rem;
	font-style: normal;
	font-weight: 700;
	line-height: 1.72rem;
	color: var(--jh-gray-01);

	.privacy {
		display: flex;
		align-items: center;
		gap: 0.38em;

		.iconWorld {
			@include icon('/icons/world.svg', 13px);
		}
	}

	.joined {
		display: flex;
		align-items: center;
		gap: 0.38em;

		.iconCalendar {
			color: var(--jh-gray-01);
			@include icon('/icons/events.svg', 13px);
		}
	}
}

.footer {
	display: flex;
	flex-direction: row;
	gap: 0.81em;

	.followers,
	.following {
		display: flex;
		flex-direction: row;
		gap: 1ch;
		color: var(--jh-gray-01);
		font-size: 0.875rem;
		font-style: normal;
		line-height: 1.72em;

		.count {
			font-weight: 700;
		}

		.label {
			font-weight: 400;
		}
	}
}
