@use '@/styles/mixins.scss' as *;

.actions {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1em;
	width: 100%;

	.tags {
		display: flex;
		align-items: center;
		gap: 0.5em;

		.tag {
			font-size: 0.88rem;
			font-weight: 500;
			background-color: transparent;
			color: var(--jh-green-03);
			border: 1px solid var(--jh-green-03);

			&:hover {
				background-color: rgba(var(--jh-green-03-rgb), 0.1);
				color: var(--jh-green-03);
			}
		}

		.tagSkeleton {
			min-height: 2.25rem;
			min-width: 9.5rem;
			border-radius: 9999px;
		}

		.iconEllipsis {
			@include icon('/icons/ellipsis.svg', 12px);
		}
	}

	.actionButtons {
		display: flex;
		align-items: center;
		gap: 0.5em;

		.subscribe {
			background-color: var(--jh-green-01);
			color: var(--jh-white-01);
			font-size: 0.88rem;
			font-weight: 500;

			&:hover {
				background-color: rgba(var(--jh-green-01-rgb), 0.9);
			}

			.iconBell {
				@include icon('/icons/notification-bell-outline.svg', 16px);
			}
		}

		.quote {
			background-color: var(--jh-green-01);
			color: var(--jh-white-01);

			&:hover {
				background-color: rgba(var(--jh-green-01-rgb), 0.9);
			}

			.iconQuote {
				@include icon('/icons/quote.svg', 16px);
			}
		}

		.print {
			background-color: var(--jh-green-01);
			color: var(--jh-white-01);

			&:hover {
				background-color: rgba(var(--jh-green-01-rgb), 0.9);
			}

			.iconPrint {
				@include icon('/icons/print.svg', 16px);
			}
		}
	}
}
