.wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	textarea {
		padding: 22px;
		width: 100%;
		height: 100%;
		border: 1px solid var(--jh-gray-01);
		background: var(--white);
		resize: none;
		font-size: 20px;
		font-style: normal;
		font-weight: 500;
		line-height: 16px;
		opacity: 1;
		color: var(--black);
		&::placeholder {
			color: var(--jh-gray-01);
		}
		&:focus {
			border: 1px solid var(--jh-gray-01);
			outline: none;
		}
		&.small {
			height: 71px;
			border-radius: 200px;
		}
		&.large {
			height: 155px;
			border-radius: 32px;
		}
	}
	.extraClass {
		position: absolute;
		background: var(--jh-green-05);
		&.small {
			bottom: 14px;
			right: 12px;
		}
		&.large {
			bottom: 22px;
			right: 22px;
		}
		&.buttonHasText {
			background: var(--jh-green-04);
		}
	}
	.close {
		display: none;
		padding: 12px;
		&.small {
			top: 14px;
			right: 12px;
		}
		&.large {
			top: 22px;
			right: 28px;
		}
		&.removeText {
			display: block;
			position: absolute;
			background: transparent;
		}
		&:hover {
			background: var(--jh-white-01);
		}
	}
}
