.registerForm {
	.heading {
		margin: 24px 0 32px;
		text-align: center;

		&Title {
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;

			button {
				position: absolute;
				left: 0;
				z-index: 10;
			}
		}
	}

  .formGroup {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 4px 12px;
    margin: 32px 0;

    .fullWidth {
      grid-column: span 2 / span 2;
    }

    .centered {
      margin: 0 auto;

      a {
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        text-decoration-line: none;
        text-decoration-style: solid;
        text-decoration-skip-ink: auto;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;
      }
    }
  }

  button[type="submit"] {
    width: 100%;
  }
}
