.filters {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 100%;
	height: 100%;

	.value {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 100%;

		&[data-active='true'] {
			border-bottom: 3px solid var(--jh-green-02);
		}

		.label {
			font-size: 0.875rem;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
		}

		&:hover {
			background-color: var(--jh-gray-05);
		}
	}
}
