.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 24px;

  &.small {
    max-width: var(--container-width-small);
  }
  &.medium {
    max-width: var(--container-width-medium);
  }
  &.mediumLarge {
    max-width: var(--container-width-medium-large);
  }
}
