.card {
  &Container {
    padding: 16px 24px;
    border-radius: 12px;
    border: 1px solid var(--jh-white-02);
    cursor: pointer;
    transition: all 0.5s ease-in-out;

    &:hover {
      background-color: var(--jh-green-01);
      border: 1px solid var(--jh-green-01);
      
      h5 {
        color: var(--white);
      }

      span {
        color: var(--white);
      }
    }
  }

  &Heading {
    h5 {
      text-transform: capitalize;
    }
  }

  &Action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
  }
}