// @use '@/styles/mixins';

.buttonIcon {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 1;
  padding: 16px 32px;
  border-radius: 200px;
  cursor: pointer;
  width: auto;
  max-width: max-content;
  transition: all 0.3s ease-in-out;

  &.icon-append {
    flex-direction: row-reverse;
  }

  &.icon-prepend {
    flex-direction: initial;
  }

  &.primary {
    &.solid {
      background-color: var(--jh-green-01);
      color: var(--white);

      &.disabled {
        opacity: 0.8;
        cursor: not-allowed;
      }
    }

    &.outlined {
      background-color: transparent;
      color: var(--jh-green-01);
      border: 1px solid var(--jh-green-01);

      &.disabled {
        opacity: 0.8;
        cursor: not-allowed;
      }
    }
  }

  &.secondary {
    &.solid {
      background-color: var(--white);
      color: var(--jh-green-01);

      &.disabled {
        opacity: 0.8;
        cursor: not-allowed;
      }
    }

    &.outlined {
      background-color: transparent;
      color: var(--white);
      border: 1px solid var(--white);

      &.disabled {
        opacity: 0.8;
        cursor: not-allowed;
      }
    }
  }

  &.circular {
    border-radius: 999px;
    padding: 16px;

    &.icon {
      background-color: var(--jh-green-01);
    }

    &.outlined {
      background-color: transparent;
      border: 1px solid var(--jh-green-01);
    }

    &.icon-alt {
      background-color: var(--white);
    }
  }

  &.social {
    border-radius: 999px;
    padding: 16px;

    &.solid {
      background-color: var(--jh-gray-02);
    }
  }

  &.text {
    background: transparent;
    padding: 0;
    margin: 0;

    &.icon {
      border-radius: 0;
      outline: none;
    }
  }

  .label {
    visibility: visible;
    margin-right: 12px;
    cursor: pointer;
  }

  .spinner {
    position: absolute;
    animation: spin 1s linear infinite;
  }

  .maskIcon {
    display: inline-block;
  }

  &.loading {
    .label {
      visibility: hidden;
    }
  }

  // span[data-hide-label="true"] {
  //   @include mixins.breakpoint(medium, max) {
  //     display: none;
  //   }
  // }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
