// @use '@/styles/mixins';

.buttonAnimated {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.0;
  padding: 16px 32px;
  border-radius: 200px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &.baseStyle {
    color: var(--jh-green-01);
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    
    &.flat {
      color: var(--white);
      background-color: var(--jh-green-01);
      transition: all 0.3s ease;

      span {
        position: absolute;
        width: 25%;
        height: 100%;
        background-color: var(--white);
        transform: translateY(100%);
        border-radius: 100%;
        left: calc(1.5 * 25%);
        transition: 0.5s;
        transition-delay: calc((1 - 1) * 0.1s);
        z-index: -1;
      }

      .iconDefault,
      .iconHover {
        transition: all 0.5s ease;
        max-width: 24px;
        max-height: 24px;
      }
      
      .iconHover {
        display: none;
      }

      &:hover {
        color: var(--jh-green-01);

        .iconDefault {
          display: none;
        }

        .iconHover {
          display: inline-block;
        }

        span {
          transform: translateY(0) scale(5);
        }
      }

      :global(.group:hover) & {
        color: var(--jh-green-01);
        background-color: var(--white);

        .iconDefault {
          display: none;
        }

        .iconHover {
          display: inline-block;
        }

        span {
          transform: translateY(0) scale(5);
        }
      }
    }

    &.outlined {
      color: var(--white);
      background-color: transparent;
      border: 1px solid var(--white);
      transition: all 0.3s ease;

      span {
        position: absolute;
        width: 25%;
        height: 100%;
        background-color: var(--white);
        transform: translateY(100%);
        border-radius: 100%;
        left: calc(1.5 * 25%);
        transition: 0.5s;
        transition-delay: calc((1 - 1) * 0.1s);
        z-index: -1;
      }

      .iconDefault,
      .iconHover {
        transition: all 0.5s ease;
        max-width: 24px;
        max-height: 24px;
      }
      
      .iconHover {
        display: none;
      }

      &:hover {
        color: var(--jh-green-01);
        border: 1px solid transparent;

        .iconDefault {
          display: none;
        }

        .iconHover {
          display: inline-block;
        }

        span {
          transform: translateY(0) scale(5);
        }
      }
    }
  }

  .label {
    visibility: visible;
    margin-right: 12px;
    cursor: pointer;
  }

  .spinner {
    position: absolute;
    animation: spin 1s linear infinite;
  }

  &.loading {
    .label {
      visibility: hidden;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}