.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.0;
  padding: 16px 32px;
  border-radius: 200px;
  cursor: pointer;
  width: auto;
  max-width: max-content;
  transition: all 0.3s ease-in-out;

  &.primary {
    &.solid {
      color: var(--white);
      background-color: var(--jh-green-01);

      // &:hover:not(.disabled) {
      //   background-color: var(--white);
      //   color: var(--jh-green-01);
      // }

      &.disabled {
        opacity: 0.8;
        cursor: not-allowed;
      }
    }

    &.outlined {
      background-color: transparent;
      color: var(--jh-green-01);
      border: 1px solid var(--jh-green-01);

      // &:hover:not(.disabled) {
      //   background-color: var(--white);
      //   color: var(--jh-green-01);
      //   border: 1px solid transparent;
      // }

      &.disabled {
        opacity: 0.8;
        cursor: not-allowed;
      }
    }
  }

  &.secondary {
    &.solid {
      color: var(--jh-green-01);
      background-color: var(--white);

      // &:hover:not(.disabled) {
      //   background-color: var(--jh-green-01);
      //   color: var(--white);
      // }

      &.disabled {
        opacity: 0.8;
        cursor: not-allowed;
      }
    }

    &.outlined {
      background-color: transparent;
      color: var(--white);
      border: 1px solid var(--white);

      &:hover:not(.disabled) {
        background-color: var(--jh-green-01);
        color: var(--white);
        border: 1px solid transparent;
      }

      &.disabled {
        opacity: 0.8;
        cursor: not-allowed;
      }
    }
  }

  &.secondary-alt {
    &.solid {
      color: var(--white);
      background-color: var(--jh-gray-01);

      // &:hover:not(.disabled) {
      //   background-color: var(--jh-green-01);
      //   color: var(--white);
      // }

      &.disabled {
        color: var(--jh-gray-03);
        background-color: var(--jh-gray-05);
        opacity: 0.8;
        cursor: not-allowed;
      }
    }
  }

  .label {
    visibility: visible;
  }

  .spinner {
    position: absolute;
    animation: spin 1s linear infinite;
  }

  &.loading {
    .label {
      visibility: hidden;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}