.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: 1px solid transparent;
	cursor: pointer;
	padding: 0.5rem 1rem;
	font-size: 0.88rem;
	font-weight: 500;
	white-space: nowrap;
	transition: all 0.1s ease-in-out;
	outline: none;
	text-decoration: none;
	gap: 0.5rem;

	&:disabled {
		pointer-events: none;
		opacity: 0.5;
	}

	& > svg {
		width: 1rem;
		height: 1rem;
		pointer-events: none;
	}

	&:focus-visible {
		outline: 2px solid transparent;
		outline-offset: 2px;
	}
}

.button--primary {
	background-color: var(--jh-gray-07);
	color: var(--off-white);
	box-shadow: 0 1px 2px 0 rgba(var(--black-rgb), 0.05);

	&:hover {
		background-color: rgba(var(--jh-gray-07-rgb), 0.9);
	}
}

.button--danger {
	background-color: var(--jh-red-01);
	color: var(--white);
	box-shadow: 0 1px 2px 0 rgba(var(--black-rgb), 0.05);

	&:hover {
		background-color: rgba(var(--jh-red-01-rgb), 0.9);
	}
}

.button--outline {
	background-color: var(--white);
	color: var(--jh-gray-07);
	border: 1px solid var(--jh-gray-03);
	box-shadow: 0 1px 2px 0 rgba(var(--black-rgb), 0.05);

	&:hover {
		background-color: var(--off-white);
		color: var(--jh-gray-07);
	}
}

.button--secondary {
	background-color: var(--white);
	color: var(--black);
	box-shadow: 0 1px 2px 0 rgba(var(--black-rgb), 0.05);

	&:hover {
		background-color: rgba(var(--white-rgb), 0.8);
	}
}

.button--text {
	background-color: transparent;
	color: var(--black);

	&:hover {
		background-color: var(--off-white);
		color: var(--jh-gray-07);
	}
}

.button--link {
	background-color: transparent;
	color: var(--black);
	text-underline-offset: 4px;

	&:hover {
		text-decoration: underline;
	}
}

.button--default {
	height: 2.25rem;
	padding: 0.5rem 1rem;

	&.hasIcon {
		padding-left: 0.75rem;
		padding-right: 0.75rem;
	}
}

.button--sm {
	height: 2rem;
	border-radius: 0.38rem;
	gap: 0.38rem;
	padding: 0.5rem 0.75rem;

	&.hasIcon {
		padding-left: 0.63rem;
		padding-right: 0.63rem;
	}
}

.button--lg {
	height: 2.5rem;
	border-radius: 0.38rem;
	padding: 0.5rem 1.5rem;

	&.hasIcon {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

.button--icon {
	width: 2.25rem;
	height: 2.25rem;
	padding: 0;
}

.button--sm {
	border-radius: 0.25rem; // 4px
}
.button--md {
	border-radius: 0.38rem; // 6px
}
.button--lg {
	border-radius: 0.5rem; // 8px
}
.button--xl {
	border-radius: 0.63rem; // 10px
}
.button--2xl {
	border-radius: 0.75rem; // 12px
}
.button--3xl {
	border-radius: 1rem; // 16px
}
.button--full {
	border-radius: 9999px; // 100%
}
