.richText {
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

	// Typography
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: 1.1;
		text-wrap: wrap;
		margin-bottom: 1ch;
	}

	h1 {
		font-size: 1.4rem;
	}

	h2 {
		font-size: 1.2rem;
	}

	h3 {
		font-size: 1.1rem;
	}

	h4,
	h5,
	h6 {
		font-size: 1rem;
	}

	a {
		color: var(--jh-blue-01);
		text-decoration: underline;
		word-break: break-word;
	}

	ul,
	ol {
		margin-left: 2em;
		font-size: 1rem;
	}

	blockquote {
		border-left: 3px solid var(--jh-green-01);
		margin: 1.5rem 0;
		padding-left: 1rem;
	}

	code {
		background-color: var(--jh-gray-05);
		border-radius: 0.4rem;
		color: var(--black);
		font-size: 0.85rem;
		padding: 0.25em 0.3em;
	}

	// Media elements
	img {
		display: block;
		height: auto;
		margin: 1.5rem 0;
		max-width: 100%;

		&.ProseMirror-selectednode {
			outline: 3px solid var(--jh-gray-05);
		}
	}

	hr {
		border: none;
		border-top: 1px solid var(--jh-gray-05);
		cursor: pointer;
		margin: 2rem 0;

		&.ProseMirror-selectednode {
			border-top: 1px solid var(--jh-gray-05);
		}
	}

	// Table
	table {
		border-collapse: collapse;
		margin: 0;
		overflow: hidden;
		table-layout: fixed;
		width: 100%;

		td,
		th {
			border: 1px solid var(--jh-gray-05);
			box-sizing: border-box;
			min-width: 1em;
			padding: 6px 8px;
			position: relative;
			vertical-align: top;

			> * {
				margin-bottom: 0;
			}
		}

		th {
			background-color: var(--jh-green-01);
			font-weight: bold;
			text-align: left;
		}

		.selectedCell::after {
			background: var(--jh-gray-02);
			content: '';
			inset: 0;
			pointer-events: none;
			position: absolute;
			z-index: 2;
		}

		.column-resize-handle {
			background-color: var(--jh-gray-02);
			bottom: -2px;
			pointer-events: none;
			position: absolute;
			right: -2px;
			top: 0;
			width: 4px;
		}
	}
	.tableWrapper {
		margin: 1.5rem 0;
		overflow-x: auto;
	}
}
