@use '@/styles/mixins' as *;

.votes {
	display: flex;
	align-items: center;
	gap: 0.38em;

	.upvote {
		height: 1rem;
		width: 1rem;
		color: var(--jh-gray-01);

		&:hover {
			color: var(--jh-green-01);
		}

		&[data-is-upvoted='true'] {
			color: var(--jh-green-01);
		}

		.iconUpvote {
			@include icon('/icons/upvote.svg', 16px);
		}
	}

	.loader {
		color: var(--jh-gray-01);
		animation: spin 1s linear infinite;
		@include icon('/icons/loader.svg', 16px);
	}

	.count {
		color: var(--jh-gray-01);
		font-size: 0.88rem;
		font-style: normal;
		font-weight: 500;
		line-height: 1rem;
	}

	.downvote {
		height: 1rem;
		width: 1rem;
		color: var(--jh-gray-01);

		&:hover {
			color: var(--jh-red-01);
		}

		&[data-is-downvoted='true'] {
			color: var(--jh-red-01);
		}

		.iconDownvote {
			@include icon('/icons/downvote.svg', 16px);
		}
	}

	@keyframes spin {
		to {
			transform: rotate(360deg);
		}
	}
}
