.advertisementGroup {
	display: flex;
	flex-direction: column;
	gap: 22px;
	width: 100%;
	overflow: hidden;

	h6 {
		color: var(--black);
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: 17.769px;
		margin: 0;
	}
}
