.form {
	display: flex;
	flex-direction: column;
	gap: 0.75em;
	width: 100%;

	.input {
		border: 1px solid var(--jh-gray-03);
	}

	.name {
		display: flex;
		align-items: flex-start;
		min-height: 6rem;
		gap: 0.75em;
		width: 100%;

		.firstName,
		.lastName {
			width: 100%;
		}

		.lastName {
			padding-top: 1.81em;
		}
	}

	.address {
		display: flex;
		align-items: flex-start;
		min-height: 6rem;
		gap: 0.75em;
		width: 100%;

		.username,
		.address {
			width: 100%;
		}
	}

	.website {
		display: flex;
		align-items: flex-start;
		min-height: 6rem;
		gap: 0.75em;
		width: 100%;

		.website,
		.birthday {
			width: 100%;
		}
	}

	.interests {
		width: 100%;

		.multiselect {
			border: 1px solid var(--jh-gray-03);
		}
	}
}
