.share {
	display: flex;
	align-items: center;
	gap: 1em;
	border-radius: 0.75em;
	min-height: 4.5rem;
	padding: 0.62em 1.56em;
	background-color: var(--white);

	.label {
		cursor: pointer;
		font-size: 0.875rem;
		font-style: normal;
		font-weight: 500;
		line-height: 1rem;
		color: var(--jh-gray-01);
	}
}
