@use '@/styles/mixins.scss' as *;

.listSelect {
	background-color: transparent;
	border: none;
	outline: none;
	box-shadow: none;
	color: var(--jh-gray-02);

	&:hover {
		background-color: rgba(var(--off-white-rgb), 0.8);
	}
}

.iconDefault {
	@include icon('/icons/tiptap-bullet-list.svg');
}

.iconBulletList {
	@include icon('/icons/tiptap-bullet-list.svg');
}

.iconOrderedList {
	@include icon('/icons/tiptap-ordered-list.svg');
}
