.header {
	// background-color: var(--black);
	// background-color: var(--jh-green-01);
	color: var(--white);
	height: 90px;

	> div {
		height: 100%;
	}

	&Inner {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		height: 100%;
	}

	&Logo {
		display: flex;
		align-items: center;
	}

	&Menu {
		height: 100%;

		&List {
			list-style-type: none;
			display: flex;
			align-items: center;
			gap: 28px;
			height: 100%;

			> li {
				display: flex;
				flex-direction: column;
				justify-content: center;
				font-weight: 500;
				line-height: 1.25;
				height: 100%;
				transition: all 0.5s ease;
				cursor: pointer;

				&.menuSkeleton {
					width: 80px;
					height: 10px;
					background: linear-gradient(
						90deg,
						rgba(255, 255, 255, 0.1) 25%,
						rgba(255, 255, 255, 0.2) 50%,
						rgba(255, 255, 255, 0.1) 75%
					);
					background-size: 200% 100%;
					animation: loading 1.5s infinite;
					border: 1px solid rgba(255, 255, 255, 0.2);
				}

				a {
					color: var(--white);
				}

				&:after {
					backface-visibility: hidden;
					border: 1px solid transparent;
					bottom: 0px;
					content: ' ';
					display: block;
					margin: 0 auto;
					position: relative;
					transition: all 280ms ease-in-out;
					width: 0;
				}

				&:hover {
					&:after {
						backface-visibility: hidden;
						border-color: var(--white);
						transition: width 350ms ease-in-out;
						width: 100%;
					}
				}
			}
		}

		&ActionButtons {
			display: flex;
			align-items: center;
			padding: 20px 0;
			gap: 20px;
		}
	}
}

.buttonSkeleton {
	width: 120px;
	height: 44px;
	background: linear-gradient(
		90deg,
		rgba(255, 255, 255, 0.1) 25%,
		rgba(255, 255, 255, 0.2) 50%,
		rgba(255, 255, 255, 0.1) 75%
	);
	background-size: 200% 100%;
	animation: loading 1.5s infinite;
	border-radius: 200px;
	border: 1px solid rgba(255, 255, 255, 0.2);
}

@keyframes loading {
	0% {
		background-position: 200% 0;
	}
	100% {
		background-position: -200% 0;
	}
}
