.wrapperContent {
	display: flex;
	flex-direction: column;
	gap: 18px;
	&Header {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 12px;
		label {
			color: var(--black);
			font-size: 20px;
			font-style: normal;
			font-weight: 400;
			line-height: 38px;
		}
	}
	&TopSearches {
		display: flex;
		flex-direction: column;
		gap: 8px;
		padding: 0px 24px;
	}
}

.searchItem {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 12px;
	padding: 8px 12px;
	border-radius: 8px;
	transition: all 0.2s ease;
	cursor: pointer;

	&:hover {
		transform: translateX(4px);
		color: var(--jh-green-04);
		span {
			color: var(--jh-green-04);
			text-decoration: underline var(--jh-green-04);
		}
	}

	span {
		color: var(--black);
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px;
		transition: color 0.2s ease;
	}
}
