.about {
	display: flex;
	flex-direction: column;
	gap: 0.44em;

	.title {
		font-size: 0.875rem;
		font-style: normal;
		font-weight: 700;
		line-height: 1.25rem;
		padding: 1em 0;
	}

	.skeletonGroup {
		display: flex;
		align-items: flex-start;
		gap: 1.62em;
		min-height: 6.75rem;

		.imageSkeleton {
			width: 3.63rem;
			height: 3.63rem;
			border-radius: 9999px;
		}

		.contentSkeleton {
			display: flex;
			flex-direction: column;
			gap: 1.38em;
			width: 100%;
		}

		.headerSkeleton {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 1em;

			.nameSkeleton {
				width: 7rem;
				height: 1rem;
				border-radius: 0.25rem;
			}

			.followButtonSkeleton {
				width: 5rem;
				height: 1.69rem;
				border-radius: 0.25rem;
			}
		}

		.descriptionSkeleton {
			width: 100%;
			height: 1rem;
			border-radius: 0.25rem;
		}
	}

	.article {
		display: flex;
		align-items: flex-start;
		gap: 1.62em;
		padding: 1.25em 0;
		border-top: 1px solid var(--jh-gray-05);
		font-size: 1rem;
		font-weight: 700;
		line-height: 1.5rem;

		.content {
			display: flex;
			flex-direction: column;
			gap: 1.38em;
			width: 100%;
		}

		.header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 1em;

			.followButton,
			.followingButton {
				min-width: 5rem;
				height: 1.69rem;
				padding: 0 0.8em;
				font-size: 0.75rem;
				font-style: normal;
				font-weight: 500;
				line-height: 1.68rem;
				transition: transform 0.3s linear;
			}

			.followButton {
				border-color: var(--jh-green-01);
				background-color: transparent;
			}

			.followingButton {
				background-color: var(--jh-green-01);
				color: var(--white);

				&:hover {
					background-color: rgba(var(--jh-green-01-rgb), 0.9);
				}
			}

			.name {
				font-size: 1.5rem;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
			}

			.follow {
				background-color: var(--jh-green-01);
				color: var(--white);

				&:hover {
					background-color: rgba(var(--jh-green-01-rgb), 0.9);
				}
			}
		}

		.description {
			font-size: 1rem;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}
	}
}
