.related {
	display: flex;
	flex-direction: column;
	gap: 2.38em;

	.label {
		font-size: 0.875rem;
		font-style: normal;
		font-weight: 700;
		line-height: 1.25rem;
		text-transform: uppercase;
	}

	.skeletonGroup {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		min-height: 24rem;
		gap: 0.88em;

		.skeleton {
			min-height: 24rem;
			border-radius: 0.75em;
		}
	}

	.discoveries {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 0.88em;
	}
}
