@use '@/styles/mixins' as *;

.content {
	display: flex;
	flex-direction: column;
	padding-right: 1.63em;
	gap: 0.5em;
	height: 100%;
	min-height: 0;
	cursor: pointer;

	.author {
		display: flex;
		align-items: center;
		gap: 0.5em;
		color: var(--jh-gray-01);
		font-size: 0.75rem;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		flex-shrink: 0;
	}

	.titleContainer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 0.5em;

		.title {
			font-size: 1rem;
			font-weight: 700;
			line-height: 1.5rem;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 1;
			line-clamp: 1;
			overflow: hidden;
			text-wrap: balance;
			flex: 1;
			min-width: 0;
			min-height: 0;
		}

		.iconArrowSlant {
			flex-shrink: 0;
			@include icon('/icons/arrow-slant.svg', 12px);
		}
	}

	.description {
		font-size: 0.88rem;
		font-weight: 400;
		width: 100%;
		flex: 1;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 4;
		line-clamp: 4;
		overflow: hidden;
		text-wrap: balance;
		min-height: 0;
	}
}
