.forgotPasswordForm {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;

  .formGroup {
    margin: 32px 0;

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 40px auto;
        background-color: var(--jh-green-01);
        border: 12px solid var(--jh-light-green-02);
        border-radius: 999px;
        width: calc(95px + 27px);
        height: calc(95px + 27px);

        &::before {
          content: '';
          background-image: url('/icons/email.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          width: 41px;
          height: 41px;
        }
      }

    h4 {
      margin-bottom: 32px;
    }

    .actions {
      display: flex;
      flex-direction: column;
      gap: 12px;
      max-width: 300px;
      margin: 8px auto 0;
      
      button {
        min-width: 100% !important;
      }
    }
  }
}