@use '@/styles/mixins' as *;

.select {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
	position: relative;
	width: fit-content;
	z-index: 9999;

	&[data-disabled='true'] {
		opacity: 0.5;
		pointer-events: none;
	}
}

.trigger {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	gap: 0.75rem;
	background-color: var(--white);
	color: var(--black);
	min-width: 5.88rem;
	border: none;
	outline: none;

	.select[data-variant='icon'] & {
		min-width: 0;
		padding: 0.65em 0.5em;
	}

	&:hover {
		background-color: rgba(var(--white-rgb), 0.8);
	}

	&:focus-visible {
		outline: 2px solid transparent;
		outline-offset: 2px;
	}
}

.iconChevron {
	margin-left: auto;
	transform: rotate(180deg);
	transition: transform 200ms ease; /* chevron anim */
	@include icon('/icons/chevron-up.svg', 14px);

	.select[data-variant='icon'] & {
		@include icon('/icons/chevron-up.svg', 8px);
	}

	&[data-open='true'] {
		transform: rotate(0deg);
	}
}

.content {
	position: absolute;
	top: calc(100% + 8px);
	left: 50%;
	transform: translateX(calc(-50% + var(--shift-x, 0px)));
	min-width: 10rem;
	max-width: calc(100vw - 16px);
	border-radius: 0.5rem;
	border: 1px solid var(--jh-gray-08);
	background: var(--white);
	box-shadow:
		0 4px 6px -1px rgba(var(--shadow-dark-rgb), 0.1),
		0 2px 4px -1px rgba(var(--shadow-dark-rgb), 0.06),
		0 0 0 1px rgba(var(--shadow-dark-rgb), 0.05);
	padding: 0.5em;
	max-height: 15rem;
	overflow-y: auto;
	overscroll-behavior: contain;
	z-index: 9999;

	.select[data-variant='icon'] & {
		min-width: 0;
	}

	/* Hide scrollbar for all browsers */
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* Internet Explorer 10+ */

	&::-webkit-scrollbar {
		display: none; /* Chrome, Safari, Edge */
	}

	&[data-side='top'] {
		top: auto;
		bottom: calc(100% + 8px);
	}
}

.options {
	display: flex;
	flex-direction: column;
	position: relative;
	border-radius: 0.25rem;
	gap: 0.25em;
	cursor: pointer;
}

.option {
	font-size: 0.88rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding: 0.5em;
	border-radius: inherit;
	color: var(--black);
	display: flex;
	align-items: center;
	justify-content: space-between;
	white-space: nowrap;
	gap: 0.5em;

	&:hover {
		background-color: var(--off-white);
	}

	&.highlighted {
		background-color: var(--off-white);

		&.selected {
			color: var(--white);
			background-color: var(--jh-green-01);
			font-weight: 700;
		}
	}

	&.selected {
		color: var(--white);
		background-color: var(--jh-green-01);
		font-weight: 700;
	}

	.optionInner {
		display: inline-flex;
		align-items: center;
		gap: 0.5rem;
	}

	.optionText {
		color: currentColor;
		font-weight: inherit;
	}

	.iconCheck {
		@include icon('/icons/check.svg', 14px);
	}
}

.required {
	color: var(--jh-red-01);
}
