.recommendedTopics {
	display: flex;
	flex-direction: column;
	gap: 1.88em;
	width: 100%;

	.topicGroup {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-wrap: wrap;
		gap: 0.5em;
	}

	.topic {
		height: 2.3rem;
		font-size: 0.75rem;
		font-weight: 500;
		line-height: 2;
		padding: 0 1.2em;
		background-color: transparent;
		color: var(--jh-green-01);
		border-color: var(--jh-green-01);
	}
}
