.termsAndConditions {
  padding: 24px 24px 0 0;

  p {
    margin: 16px 0 32px;
  }

  hr {
    border-width: 0;
    min-height: 1px;
    background-color: var(--black);
    margin-bottom: 32px;
  }

  ol {
    list-style-type: decimal;
    list-style-position: inside;

    li {
      font-family: var(--satoshi);
      font-size: 14px;
      font-style: normal;
      font-weight: 400;

      &::marker {
        font-weight: 700;
      }

      strong {
        font-weight: 700;
      }

      ul {
        list-style-type: disc;
        list-style-position: inside;
        padding-left: 8px;
      }
    }
  }
}