.wrapper {
	display: flex;
	flex-direction: column;
	gap: 1.88em;
	width: 100%;
}

.label {
	font-size: 1rem;
	font-style: normal;
	font-weight: 700;
	line-height: 1.25em;
}

.contentGroup {
	display: flex;
	flex-direction: column;
	gap: 0.88em;
}

.content {
	display: flex;
	align-items: flex-start;
	gap: 0.85em;
}

.count,
.title {
	font-size: 0.88rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.count {
	color: var(--jh-green-01);
}
