.wrapper {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.label {
	display: flex;
	align-items: center;
	gap: 0.5ch;
	font-size: 1rem;
	font-style: normal;
	font-weight: 700;
	line-height: 1.25em;
}

.required {
	color: var(--jh-red-01);
}

.description {
	font-size: 0.88rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 1.38em;
	gap: 0.63rem;
	border-radius: 0.75rem;
	border: 1px solid var(--jh-gray-08);
	box-shadow: 0 1px 2px 0 rgba(var(--shadow-dark-rgb), 0.05);
}

.content {
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

	ul {
		list-style: disc;
		padding-left: 1.5em;
		line-height: 1.5em;
	}

	ol {
		list-style: decimal;
		padding-left: 1.5em;
		line-height: 2em;
	}
}

.italic {
	font-size: 1rem;
	font-style: italic;
	font-weight: 400;
	line-height: normal;
}
