@use '@/styles/mixins';

.modalContainer {
  padding: 32px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;

  @include mixins.breakpoint(large, max) {
    align-items: flex-start;
  }
}

.backdrop {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.modal {
  background: var(--white);
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0px 4px 16px 0px rgba(139, 139, 139, 0.16);
  position: relative;
  z-index: 20;
  min-width: 570px;

  @include mixins.breakpoint(small, max) {
    padding: 20px;
  }
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  gap: 80px;
  padding-bottom: 16px;
}

.justifyEnd {
  justify-content: flex-end;
}

.title {
  color: var(--jh-green-01);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.back {
  display: flex;
  align-items: center;
}

.close {
  display: flex;
  align-items: center;
}

.content {
  max-width: 650px;
  max-height: 75vh;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--jh-gray-03) var(--jh-white-01);

  &::-webkit-scrollbar {
    width: 6px;
    background: var(--jh-white-01);
  }

  &::-webkit-scrollbar-track {
    background: var(--jh-white-01);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--jh-gray-03);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-button {
    display: none;
    height: 0;
    width: 0;
  }
}


