@use '@/styles/mixins' as *;

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	.menuBar {
		display: flex;
		align-items: center;
		gap: 0.5rem;

		.buttonGroup {
			display: flex;
			align-items: center;
			gap: 0.25rem;

			.button {
				--size: 18px;
				background-color: transparent;
				border: none;
				outline: none;
				box-shadow: none;
				color: var(--jh-gray-02);

				&[data-active='true'] {
					background-color: var(--jh-gray-11);
					color: var(--black);
					border-color: var(--jh-gray-08);
				}

				&:hover {
					background-color: var(--jh-gray-05);
				}

				&:disabled {
					opacity: 0.4;
					cursor: not-allowed;

					&:hover,
					&:focus {
						background-color: transparent;
						color: var(--jh-gray-02);
					}
				}

				.iconImage {
					@include icon('/icons/tiptap-add-image.svg', var(--size));
				}

				.iconYouTube {
					@include icon('/icons/tiptap-youtube.svg', var(--size));
				}

				.iconCode {
					@include icon('/icons/tiptap-code.svg', var(--size));
				}

				.iconLink {
					@include icon('/icons/tiptap-link.svg', var(--size));
				}

				.iconCodeBlock {
					@include icon('/icons/tiptap-code-block.svg', var(--size));
				}
			}
		}
	}
}
