@use '@/styles/mixins' as *;

.skeleton {
	height: 5rem;
}

.postEditor {
	display: flex;
	flex-direction: column;
	gap: 1em;
	border-radius: 0.75em;
	background-color: var(--white);
	height: 100%;
	width: 100%;
	padding: 1.17em 1.56em;
	align-items: flex-start;
	gap: 1em;

	&[data-show='true'] {
		min-height: 16.31rem;
		max-height: 33.75rem;
	}

	.privacySelect {
		height: 1.44rem;
		padding: 0 0.75rem;
		background-color: var(--jh-green-01);
		border-radius: 9999px;
		color: var(--white);

		&:hover {
			background-color: rgba(var(--jh-green-01-rgb), 0.9);
			color: var(--white);
		}

		.iconGlobe {
			@include icon('/icons/world.svg', 10px);
		}
	}

	.header {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		gap: 1em;

		.avatar {
			display: flex;
			align-items: center;
			gap: 0.62em;
		}

		.placeholder {
			cursor: pointer;
			color: var(--jh-gray-01);
		}

		.name {
			overflow: hidden;
			text-overflow: ellipsis;
			font-size: 0.88rem;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
		}
	}

	.editor {
		position: relative;
		max-width: 100%;
		white-space: pre-wrap;
		overflow-y: auto;
		height: 100%;
		min-height: 5rem;
		max-height: 15rem;
		z-index: 10;
		font-size: 0.875rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;

		:global(p.is-editor-empty:first-child)::before {
			content: attr(data-placeholder);
			position: absolute;
			inset: 0 auto auto 0;
			color: var(--jh-gray-01);
			white-space: pre-wrap;
			pointer-events: none;
			opacity: 0.9;
		}

		// Remove focus ring
		&:focus,
		&:focus-visible,
		&:focus-within {
			outline: none;
			box-shadow: none;
		}

		:first-child {
			margin-top: 0;
		}

		a {
			color: var(--jh-blue-01);
			text-decoration: underline;
			word-break: break-word;
			font-size: inherit;
		}

		img {
			display: block;
			height: auto;
			margin: 1.5rem 0;
			max-width: 100%;

			&.ProseMirror-selectednode {
				outline: 3px solid var(--jh-gray-05);
			}
		}
	}

	.toolbar {
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: 0.69em;
		padding-top: 0.69em;
		border-top: 1px solid var(--jh-gray-08);

		.postButton {
			display: flex;
			height: 2.63rem;
			padding: 0 0.75rem;
			justify-content: center;
			align-items: center;
			align-self: stretch;
			background-color: var(--jh-green-04);

			&:disabled {
				background-color: var(--jh-gray-11);
			}
		}
	}
}

.skeleton {
	height: 5rem;
}
