.post {
	&Wrapper {
		border-radius: 12px;
		border: 1px solid var(--jh-gray-03);
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;
	}

	&ImageWrapper {
		position: relative;
		flex: 1 1 auto;
		border-radius: 12px 12px 0 0;
		overflow: hidden;
		&.event {
			min-height: 81px;
		}
		&.group {
			min-height: 117px;
		}
		&.page {
			min-height: 121px;
		}
		&.newsfeed {
			min-height: 243px;
		}
	}

	&ImageScaled {
		object-fit: cover;
		object-position: center;
		display: block;
	}

	&ImageFooter {
		border-radius: 0 0 12px 12px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 16px;
		flex-grow: 1;
	}

	&ImageFooterContent {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		gap: 4px;
	}

	&ImageFooterContentTitle {
		overflow: hidden;
		color: var(--jh-gray-01);
		text-overflow: ellipsis;
		font-size: 12px;
		font-weight: 500;
	}

	&ImageFooterContentSubtitle {
		overflow: hidden;
		color: var(--black);
		font-size: 14px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}

	&ImageFooterContentLocation {
		overflow: hidden;
		color: var(--jh-gray-01);
		text-overflow: ellipsis;
		font-size: 12px;
		font-weight: 700;
	}

	&ImageFooterContentCountWrapper {
		display: flex;
		gap: 8px;
		span {
			overflow: hidden;
			color: var(--jh-gray-01);
			text-overflow: ellipsis;
			font-size: 12px;
			font-weight: 500;
		}
	}

	&ImageFooterContentCtaWrapper {
		display: flex;
		justify-content: space-between;
		width: 100%;
		gap: 8px;
		.extra {
			display: flex;
			justify-content: center;
			flex-grow: 1;
			background-color: var(--jh-green-04) !important;
		}
	}
}
