.wrapper {
	display: flex;
	flex-direction: row;
	gap: 16px;
	justify-content: space-between;
	max-height: 100vh;
	overflow: hidden;
	padding: 41px 0;
	width: 100%;
	&Left {
		display: flex;
		flex-direction: column;
		gap: 24px;
		padding-right: 60px;
		border-right: 1px solid var(--jh-gray-05);
		max-height: 100vh;
		overflow-y: auto;
		scrollbar-width: none; /* Firefox */
		-ms-overflow-style: none; /* Internet Explorer 10+ */

		&::-webkit-scrollbar {
			display: none; /* WebKit */
		}
	}
	&Right {
		width: 100%;
		max-width: 886px;
		display: flex;
		flex-direction: column;
		gap: 34px;
		height: 100vh;
		overflow-y: auto;
		scrollbar-width: none; /* Firefox */
		-ms-overflow-style: none; /* Internet Explorer 10+ */

		&::-webkit-scrollbar {
			display: none; /* WebKit */
		}
		&Holos {
			width: 100%;
			min-width: 0;
			overflow: visible;
		}
	}
	.formField {
		display: flex;
		flex-direction: column;
		padding: 16px 22px;
		border: 1px solid var(--jh-gray-11);
		border-radius: 12px;
		min-height: 0;
		height: 134px;
		max-height: 134px;
		cursor: pointer;
		h2 {
			justify-content: start;
			text-align: start;
			text-align: left;
			align-items: start;
			align-content: start;
			align-self: start;
			align-items: flex-start;
			flex: 0;
		}
		div {
			border: 1px solid var(--jh-gray-11);
			width: 100%;
			margin: 9px 0;
		}
		p {
			justify-content: start;
			text-align: start;
			text-align: left;
			align-items: start;
			align-content: start;
			align-self: start;
			align-items: flex-start;
		}
	}
}
