.resetPasswordForm {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  background-color: transparent;

  .formGroup {
    margin: 32px 0;

    .formContent {
      padding: 69px 44px;
      border: 1px solid var(--jh-gray-03);

      h4 {
        color: var(--jh-green-01);
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        margin-bottom: 16px;
      }

      .intructions {
        color: var(--black);
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 36px;
      }
    }

    .actions {
			display: flex;
			flex-direction: column;
			gap: 24px;
      margin-top: 36px;

      button {
        min-width: 100% !important;
      }
    }
  }
}
