@use '@/styles/mixins' as *;

.container {
	display: grid;
	grid-template-columns: 1fr 2fr;
	padding: 1.63em 2.38em;
	gap: 2em;
	width: 100%;
	height: calc(100dvh - 4.125rem);
	overflow: hidden;
	min-height: 0;

	.chatRoomContainer {
		width: 100%;
		border-right: 1px solid var(--jh-gray-05);
		padding-right: 2.38em;
		height: 100%;
		overflow: hidden;
		min-height: 0;
	}

	.childrenContainer {
		width: 100%;
		height: 100%;
		overflow: hidden;
		min-height: 0;
	}

	@include breakpoint(medium, max) {
		grid-template-columns: 1fr;
		padding: 1em;
		gap: 0;

		.chatRoomContainer {
			border-right: none;
			padding-right: 0;
		}

		.hideOnMobile {
			display: none;
		}
	}
}
