.container {
  padding: 0 0 24px;
}

.heading {
  margin: 24px 0 32px;
  text-align: center;

	&Title {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;

		button {
			position: absolute;
			left: 0;
			z-index: 10;
		}
	}
}

.options {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login {
  color: rgba(0, 0, 0, 0.50);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.0;
  text-align: center;
  margin-top: 80px;

  a {
    color: rgba(0, 0, 0, 0.75);
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
  }
}
