@use '@/styles/mixins' as *;

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;

	&[data-community='true'] {
		@include breakpoint(wide, max) {
			justify-content: center;
			max-width: 100%;
		}
	}

	@include breakpoint(wide, max) {
		max-width: 100%;
	}

	.logo {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		height: 100%;
		min-width: 18.75rem;
		padding: 0 1em;

		&[data-community='true'] {
			@include breakpoint(wide, max) {
				display: none;
			}
		}
	}

	.communityLinks {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 0.75em;
		height: 100%;
		width: 45rem;
		padding: 0 4.125em;

		.link {
			display: flex;
			align-items: center;
			justify-content: center;
			height: inherit;
			width: 6rem;
			position: relative;
			color: var(--jh-green-04);

			&:hover {
				background-color: rgba(var(--jh-gray-03-rgb), 0.1);
				border-radius: 0.75em 0.75em 0 0;
			}

			&[data-active='true'] {
				&::after {
					opacity: 1;
				}
			}

			&::before {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				height: 4px;
				background-color: var(--jh-green-04);
				opacity: 0;
				transition: opacity 0.2s ease;
			}

			&::after {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				height: 4px;
				background-color: var(--jh-green-04);
				opacity: 0;
				transition: opacity 0.2s ease;
			}

			.icon {
				&[data-icon='Newsfeed'] {
					@include icon('/icons/newsfeed.svg', 20px);
				}
				&[data-icon='Pages'] {
					@include icon('/icons/pages.svg', 20px);
				}
				&[data-icon='Videos'] {
					@include icon('/icons/videos.svg', 20px);
				}
				&[data-icon='Groups'] {
					@include icon('/icons/groups.svg', 20px);
				}
				&[data-icon='Events'] {
					@include icon('/icons/events.svg', 20px);
				}
			}

			.iconActive {
				&[data-icon='Newsfeed'] {
					@include icon('/icons/active-newsfeed.svg', 20px);
				}
				&[data-icon='Pages'] {
					@include icon('/icons/active-pages.svg', 20px);
				}
				&[data-icon='Videos'] {
					@include icon('/icons/active-videos.svg', 20px);
				}
				&[data-icon='Groups'] {
					@include icon('/icons/active-groups.svg', 20px);
				}
				&[data-icon='Events'] {
					@include icon('/icons/active-events.svg', 20px);
				}
			}
		}
	}

	.actions {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		height: 100%;
		padding: 0 1em;

		&[data-community='true'] {
			@include breakpoint(wide, max) {
				display: none;
			}
		}

		.donate {
			padding: 1em 2em;
			background-color: var(--white);
			color: var(--jh-green-04);
			border: 2px solid var(--jh-green-04);
			font-size: 1rem;
			font-style: normal;
			font-weight: 700;
			line-height: 1rem;

			&:hover {
				background-color: rgba(var(--jh-green-04-rgb), 0.1);
				color: var(--jh-green-04);
			}
		}

		.iconDonate {
			@include icon('/icons/donate.svg', 16px);
		}
	}
}
