@use '@/styles/mixins' as *;

.messageRequestContainer {
	display: flex;
	align-items: center;
	gap: 14px;
	margin-bottom: 10px;
	padding: 0 0.75em;
	cursor: pointer;

	.messageRequestButton {
		// width: 2.25rem;
		// height: 2.25rem;
		padding: 14px;
		border-color: var(--jh-green-05);

		.iconRequest {
			color: var(--jh-green-04);
			@include icon('/icons/message-plus.svg', 18px);
		}
	}

	.messageRequestText {
		display: flex;
		flex-direction: column;
		gap: 0.25em; // 4px
		flex: 1;

		.messageRequestTitle {
			font-size: 14px;
			font-weight: 700;
			line-height: 16px;
			color: var(--jh-green-04);
		}

		.messageRequestCount {
			font-size: 12px;
			color: var(--jh-green-04);
		}
	}
}
